@charset "UTF-8";

/* 背景 */
.NEWS {
    width: 80%;
    height: auto;
    margin: 100px auto;
    padding-bottom: 100px;
    background-color: #00B0AA;
}


/* タイトル */
.circle{
    width: 800px;
    height: 150px;
    position: relative;
}
.circle img{
    width: 170px;
    height: 170px;
    position: absolute;
    left: 300px;
    object-fit: cover;
}
.circle .title{
    font-size: 130px;
    position: absolute;
    top: 50%;
    left: 530px;
    transform: translate(-50%,-50%);
}
.subtitle {
    font-size: 30px;
    margin-bottom: 30px;
    text-align: right;
    padding-right: 350px;
}


/* リスト */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


/* 記事背景 */
.inner {
    width: 65%;
    height: auto;
    background-color: #fff;
    border-radius: 30px;
    margin: 0 auto;
    padding: 40px 0 65px;
}


/* ここからがニュース記事のCSS */
time {
    margin-left: 25px;
}


/* 記事のリスト */
.news_list {
    margin: 0 5%;
}
.news_list_item {
    padding: 25px 0;
    border-bottom: 1px solid #463D3B;
}
.news_list_item a {
    position: relative;
    display: block;
    padding-right: 30px;
}


/* 記事の中身 */
.news_list_date {
    font-size: 27px;
    display: flex;
    margin-right: 15px;
}
p {
    font-size: 17px;
    margin-top: 10px;
}


/* 記事のタイトル */
.news_title {
    border-radius: 14px;
    width: 6em;
}



/* メディアクエリ */
@media screen and (max-width:1024px) {
    .circle img{
        left: 200px;
    }
    .circle .title{
        left: 430px;
    }
    .news_list_item a {
        display: block;
    }
    .subtitle{
        padding-right: 220px;
    }
}

@media screen and (max-width:769px) {
    .circle img {
        left: 90px;
    }
    .circle .title {
        left: 300px;
    }
    .subtitle{
        font-size: 20px;
        padding-right: 120px;
    }
    .news_list_date{
        font-size: 20px;
    }
    p{
        font-size: 14px;
    }
}

@media screen and (max-width:480px) {
    .NEWS{
        padding-bottom: 50px;
    }
    .circle{
        width: 400px;
        height: 100px;
    }
    .circle img{
        width: 100px;
        height: 100px;
        left: 80px;
    }
    .circle .title{
        font-size: 70px;
        left: 200px;
    }
    .subtitle {
        font-size: 15px;
        padding-right: 90px;
        margin-bottom: 10px;
    }
    .news_list_item a {
        padding-right: 0;
    }
    .news_list_date {
        font-size: 14px;
    }
    p {
        font-size: 10px;
    }
}
