@charset "UTF-8";

/* 背景 */

.news {
    background-color: #ffffff;
    padding-bottom: 10px;
}
.inner_main {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding-top: 10px;
}

.news_area {
    margin: 0;
    background-color: #00B0AA;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.breadCrumb {
    margin-top: 80px;
    align-self: flex-start;
    padding-top: 50px;
    margin-bottom: 40px;
}

/* タイトル */
.title_news {
    color: #463D3B;
    text-align: center;
    width: 220px;
    margin: 0 auto;
    position: relative;
}

.title_news>h1 {
    font-size: 7.0rem;
    width: 100%;
    position: absolute;
    bottom: -30px;
    z-index: 1;
}

.title_news>p {
    font-size: 1.6rem;
    position: absolute;
    right: 13px;
    bottom: -40px;
}

.title_news>img {
    width: 110px;
    height: auto;
    position: absolute;
    bottom: -40px;
    left: -25px;
    z-index: 0;
}

/* NEWS */
/* 背景 */
.wrap_news {
    background-color: #00B0AA;
    width: 100%;
    height: auto;
}

.container_news {
    background-color: #FFF;
    width: 350px;
    height: auto;
    padding: 25px 0 80px 0;
    margin: 100px auto;
    border-radius: 20px;
}

.item_news {
    width: 310px;
    height: 160px;
    padding: 40px 0 0;
    margin: 0 auto;
    border-bottom: solid 1px #463D3B;
}

.tag_news {
    font-size: 2.0rem;
    display: flex;
    justify-content: flex-start;
}


.tag_news>p {
    margin: 0 20px;
}

.note_news {
    font-size: 1.4rem;
    line-height: 20.3px;
    padding: 10px 0;
    margin: 0 20px;
}

@media screen and (min-width: 780px) {

    /* NEWS概要 */
    .container_news {
        width: 550px;
        height: auto;
    }

    .item_news {
        width: 500px;
        height: 170px;
    }

    .news_area {
        margin: 8% 15%;
    }

    .title_news>img {
        width: 120px;
        height: auto;
        position: absolute;
        bottom: -50px;
        left: -30px;
        z-index: 0;
    }
}

.page {
    margin-top: 30px;
    text-align: center;
    letter-spacing: 1rem;
    font-size: 2rem;

}
