@charset "UTF-8";

/* 背景 */

.news {
    background-color: #ffffff;
    padding-bottom: 10px;
}

.news_area {
    padding-bottom: 100px;
    margin: 8% 15%;
    background-color: #00B0AA;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.breadCrumb {
    margin-top: 80px;
    align-self: flex-start;

}

/* タイトル */
.title_area {
    position: relative;

    height: 200px;
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.title_area img {
    position: absolute;
    left: -20%;

    object-fit: cover;
    top: 0;
}

.title {
    font-size: 13rem;
    z-index: 2;
    position: relative;
    margin: 0;
    text-align: center;
}

.subtitle {
    font-size: 3rem;
    z-index: 2;
    position: absolute;
    right: 0;
    bottom: 0;

}


/* リスト */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


/* 記事背景 */
.news_info {
    width: 65%;
    height: auto;
    background-color: #fff;
    border-radius: 30px;
    margin: 0 auto;
    padding: 50px 0 30px;
}


/* ここからがニュース記事のCSS */
time {
    margin-left: 25px;
}


/* 記事のリスト */
.news_list {
    margin: 0 5%;
}
.news_list_item {
    padding: 25px 0;
    border-bottom: 1px solid #463D3B;
}
.news_list_item a {
    position: relative;
    display: block;
}


/* 記事の中身 */
.news_list_date {
    font-size: 2.7rem;
    display: flex;
    margin-right: 15px;
}
p {
    font-size: 1.7rem;
    margin-top: 10px;
}


/* 記事のタイトル */
.news_title {
    border-radius: 14px;
    width: 6em;
}

.page{
    margin-top: 30px;
    text-align: center;
    letter-spacing: 1rem;

}

/* メディアクエリ */
@media screen and (max-width:1024px) {


    .news_list_item a {
        display: block;
    }
}

@media screen and (max-width:769px) {
    .title_area img {

    }
    .circle .title {

    }
    .subtitle{
        font-size: 1.6rem;
    }
    .news_list_date{
        font-size: 2rem;
    }
    p{
        font-size: 1.4rem;
    }
}

@media screen and (max-width:480px) {

    .title_area{
        width: 400px;
        height: 100px;
    }
    .title_area img{
        width: 100px;
        height: 100px;

    }
    .title{
        font-size: 7rem;

    }
    .subtitle {
        font-size: 1.5rem;
        padding-right: 90px;
        margin-bottom: 10px;
    }
    .news_list_item a {
        padding-right: 0;
    }
    .news_list_date {
        font-size: 1.4rem;
    }
    p {
        font-size: 1rem;
    }
}
