@charset "UTF-8";

.inner__main {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

/*** ここから パンくずリスト ***/

.container__bread-crumb {
    padding-top: 15px;
    margin-left: 20px;
}

.bread-crumb {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 15px;
}

/* 下線 */
.under-line {
    border-bottom: solid 1px #463D3B;
}

/*** パンくずリスト ここまで ***/

/*** ここから 本文 ***/

.wrap__about {
    width: 90%;
    margin: 0 auto;
}

.title__about {
    background-color: #ED6D1F;
    color: #FFF;
    font-size: 2.0rem;
    width: 100%;
    height: 50px;
    margin: 40px auto 0;
    text-align: center;
    line-height: 50px;
}

.wrap__description {
    background-color: #FFF;
    width: 100%;
    height: auto;
    padding: 20px 0 0;
    margin: 0 auto;
}

.description__about,
.description__howto,
.description__for-class {
    width: 85%;
    margin: 0 auto;
}

.description__about>h2,
.description__howto>h2,
.description__for-class>h2 {
    background-color: #F5F5F5;
    font-size: 1.6rem;
    line-height: 2.0;
    height: auto;
    margin: 20px auto 0;
    display: flex;
    justify-content: center
}

.note__about,
.note__howto,
.note__sub,
.note__for-class {
    background-color: #FFF;
    font-size: 1.6rem;
    line-height: 3.0rem;
    min-height: 225px;
    margin: 25px auto 0;
    text-indent: 1rem;
    padding-left: -1rem;
}

.note__about span,
.note__howto span,
.note__sub span,
.note__for-class span {
    display: inline-block;
}

/*** メディアクエリここから ***/

@media screen and (min-width: 768px) {

    .description__about>h2,
    .description__howto>h2,
    .description__for-class>h2 {
        font-size: 2.4rem;
    }

    .note__about,
    .note__howto,
    .note__sub,
    .note__for-class {

        font-size: 1.8rem;
        line-height: 26px;
    }
}

/*** メディアクエリここまで ***/
