@charset "UTF-8";

.column{
    width:100%;
    margin: 80px 0 0;
}

.inner__column {
    width: 100%;
}

/* コラムタイトル */
.title__column {
    color: #00B0AA;
    text-align: center;
    width: 350px;
    margin: 0 auto;
    position: relative;
}

.title__column>h2 {
    font-size: 7.0rem;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    bottom: -30px;
    z-index: 1;
}

.title__colum>h2:hover {
    color: #463D3B;
}

.title__column>p {
    font-size: 1.6rem;
    position: absolute;
    right: 22px;
    bottom: -37px;
    z-index: 1;
}


/*** ここから施設写真(スライダー) ****/
.slider {
    width: 100%;
    margin: 0 auto;
    padding-top: 10px;
}

/* スライダーエリア */
.inner_slider {
    width:100%;
}

/* カード部分 */
.wrap__card{
    background-color: transparent;
    width: 350px;
    height: 480px;
    margin: 30px 15px;
}

.container__card{
    margin: 0 auto;
}

/* 施設写真 */
.img__card {
    width: 340px;
    height: 255px;
    margin: 10px 5px;
    border-radius: 20px;
    object-fit: cover;
}

/* 説明エリア */
.container__info{
    align-items: center;
}

/* カードタイトル */
.title__info>h2 {
    font-size: 2.2rem;
    text-align: left;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;

    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* 説明文 */
.note__column>p{
    height: 100px;
    font-size: 1.5rem;
    margin: 10px;
    line-height: 24.6px;
    text-align: left;

    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* 編集日エリア */
.container__date {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

/* 編集日アイコン */
.icon__edit>img {
    width: 30px;
    height: 30px;
}

/* 編集日 */
.date__edit {
    font-size: 1.7rem;
    line-height: 24.6px;
    text-align: left;
}

/*** 施設写真(スライダー)ここまで ***/

@media screen and (min-width: 780px) {

.slider {
    width: 780px;
    margin: 0 auto;
}

}

@media screen and (min-width: 1170px) {

.slider {
    width: 1170px;
    margin: 0 auto;
}

}
