@charset "UTF-8";

/*** ここから コラム一覧共通部分 ***/
main {
    background-image: none;
    background-color: #FFF;
}

.inner__main {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

/* 下線 */
.underLine {
    border-bottom: solid 1px #463D3B;
}

.archive__list {
    display: flex;
    gap: 10px;
    padding: 20px;
}


.archive__list li a {
    display: block;
    padding: 10px 6px;
    font-size: 1.5rem;
    border-radius: 15px;
    background-color: #00B0AA;
    text-align: center;
    min-width: 100px;
    color: white;
    transition: background-color 0.3s;
        /* スムーズな変化を追加 */
}

.archive__list li a:hover {
    opacity: 0.8;
}

/*** コラム一覧共通部分 ここまで ***/

/*** ここから コラム一覧部分 ***/

/* コラム エリア */
.column__area {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start; */
}

/* コラム ページタイトル */
.column__title {
    color: #00B0AA;
    text-align: center;
    width: 330px;
    margin: 0 auto;
    position: relative;
}

/* コラム ページタイトル */
.column__title>h1 {
    font-size: 7.0rem;
    width: 100%;
}

/* コラム ページタイトル 添字 */
.column__title>p {
    font-size: 1.6rem;
    position: absolute;
    right: 13px;
    bottom: -5px;
}

/* カードエリアの囲い */
.inner__column-area {
    width: 390px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,
            minmax(390px, 1fr));
    gap: 0px;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start; */
}

/* カードの囲い */
.wrap__column-card {
    width: 390px;
    background-color: transparent;
    margin: 15px auto;
    /* border-bottom: solid 1px #00B0AA; */
}

/* カード幅 */
.inner__column-card {
    width: 350px;
    height: auto;
}

/* 施設写真幅 */
.container__card-img {
    width: 350px;
    margin-bottom: 20px;
    position: relative;
}

/* 説明エリア */
.container__card-info {
    text-align: center;
}

/* カードタイトル */
.card_title>h2 {
    width: 100%;
    font-size: 2.7rem;
    line-height: 39px;
}

/* 説明文 */
.card__note>p {
    height: 150px;
    font-size: 1.7rem;
    line-height: 24.6px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 編集日エリア */
.wrap__card-date {
    display: flex;
    align-items: center;
}

/* 編集日アイコン */
.card__edit-icon>img {
    width: 30px;
    height: 30px;
}

/* 編集日 */
.card__date {
    font-size: 1.7rem;
    line-height: 24.6px;
    text-align: left;
}

/* ページ数 容器 */
.container__page-num {
    width: 390px;
    height: 130px;
    margin: 0 auto;
}

/* ページ数 */
.column_page-num {
    font-size: 2rem;
    font-weight: 700;
    color: #463D3B;
    padding-top: 7.5px;
    text-align: center;
}

/*** 検索結果一覧部分 ここまで ***/

/*** メディアクエリここから ***/

@media screen and (min-width: 780px) {

    .inner__column-area {
        max-width: 1040px;
        width: 100%;
    }

    /* カード落ち 補完 */
    .inner__column-area::after {
        /* content: "";
        display: block;
        width: 50%; */
    }
}

@media screen and (min-width: 1170px) {
    .inner__column-area {
        max-width: 1200px;
        width: 100%;
    }

    /* カード落ち 補完 */
    .inner__column-area::after {
        /* width: 33.3%; */
    }
}

/*** メディアクエリここまで ***/
