@charset "UTF-8";

/*** ここから コラム一覧共通部分 ***/
main {
    background-image: none;
    background-color: #FFF;
}

.inner__main {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

/* 下線 */
.underLine {
    border-bottom: solid 1px #463D3B;
}

.archive__list {
    display: flex;
    gap: 10px;
    padding: 60px 0;
    text-align: center;
    justify-content: center;

}


.archive__list li a {
    display: block;
    padding: 10px 6px;
    font-size: 1.5rem;
    border-radius: 15px;
    background-color: #00B0AA;
    text-align: center;
    min-width: 100px;
    color: white;
    transition: background-color 0.3s;
    /* スムーズな変化を追加 */
}

.archive__list li a:hover {
    background-color: #463D3B;
}

/*** コラム一覧共通部分 ここまで ***/

/*** ここから コラム一覧部分 ***/

/* コラム エリア */
.column__area {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start; */
}

/* コラム ページタイトル */
.column__title {
    color: #00B0AA;
    text-align: center;
    width: 330px;
    margin: 0 auto;
    position: relative;
}

/* コラム ページタイトル */
.column__title>h1 {
    font-size: 7.0rem;
    width: 100%;
}

/* コラム ページタイトル 添字 */
.column__title>p {
    font-size: 1.6rem;
    position: absolute;
    right: 13px;
    bottom: -10px;
}

/* カードエリアの囲い */
.inner__column-area {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 0px;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start; */
}

/* カードの囲い */
.wrap__column-card {
    /* width: 390px; */
    background-color: transparent;
    margin: 15px auto;
    border-bottom: solid 1px #00B0AA;
}

/* カード幅 */
.inner__column-card {
    width: 350px;
    height: auto;
}

/* 施設写真幅 */
.container__card-img {
    width: 350px;
    margin-bottom: 20px;
    position: relative;
}

/* 説明エリア */
.container__card-info {
    text-align: center;
}

/* カードタイトル */
.card_title>h2 {
    width: 100%;
    font-size: 2.7rem;
    line-height: 39px;
}

/* 説明文 */
.card__note>p {
    height: 150px;
    font-size: 1.7rem;
    line-height: 24.6px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 編集日エリア */
.wrap__card-date {
    display: flex;
    align-items: center;
}

/* 編集日アイコン */
.card__edit-icon>img {
    width: 30px;
    height: 30px;
}

/* 編集日 */
.card__date {
    font-size: 1.7rem;
    line-height: 24.6px;
    text-align: left;
}

/* ページ数 容器 */
/* .container__page-num {
    width: 390px;
    height: 130px;
    margin: 0 auto;
} */

/* ページ数 */
/* .column_page-num {
    font-size: 2rem;
    font-weight: 700;
    color: #463D3B;
    padding-top: 7.5px;
    text-align: center;
} */

/**ここから loop-column.phpにあてるcss 以西**/
/* カード部分 */
.wrap__card {
    background-color: transparent;
    width: 350px;
    height: 480px;
    margin: 30px auto;
}

.container__card {
    margin: 0 auto;
    transition: 0.3s;
}
.container__card:hover {
    box-shadow: 5px 5px rgba(145, 145, 145, 0.541);
}

/* 施設写真 */
.img__card {
    width: 340px;
    height: 255px;
    margin: 10px 5px;
    border-radius: 20px;
    object-fit: cover;
    transition: filter 0.3s; /* スムーズな変化を追加 */
}

/* ホバー時に写真を暗くする */
.container__card:hover .img__card {
    filter: brightness(0.8);
}

/* 説明エリア */
.container__info {
    align-items: center;
}

/* カードタイトル */
.title__info>h2 {
    font-size: 2.2rem;
    text-align: left;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;

    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* 説明文 */
.note__column>p {
    height: 100px;
    font-size: 1.5rem;
    margin: 10px;
    line-height: 24.6px;
    text-align: left;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    transition: color 0.3s; /* スムーズな変化を追加 */
}

/* ホバー時に文字色を明るくする */
.container__card:hover .note__column>p,
.container__card:hover .title__info>h2, .container__card:hover .date__edit{
    color: #796b6b;
}

/* 編集日エリア */
.container__date {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

/* 編集日アイコン */
.icon__edit>img {
    width: 30px;
    height: 30px;
}

/* 編集日 */
.date__edit {
    font-size: 1.7rem;
    line-height: 24.6px;
    text-align: left;
}

/**ここまで column_slider.css 以西**/

/*** 検索結果一覧部分 ここまで ***/

/*** メディアクエリここから ***/

@media screen and (min-width: 780px) {

    .inner__column-area {
        max-width: 1040px;
        width: 100%;
        padding: 15px;
    }

    .archive__list li a {
        min-width: 130px;
    }

    /* カード落ち 補完 */
    .inner__column-area::after {
        /* content: "";
        display: block;
        width: 50%; */
    }


}

@media screen and (min-width: 1170px) {
    .inner__column-area {
        max-width: 1200px;
        width: 100%;
    }

    /* カード落ち 補完 */
    .inner__column-area::after {
        /* width: 33.3%; */
    }
}

/*** メディアクエリここまで ***/
