@charset "UTF-8";

/*** ここから コラム共通部分 ***/
html {
    box-sizing: border-box;
}

main {
    background-image: none;
    background-color: #FFF;
}

.inner_main {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

/* .container_breadCrumb {
    width: 100%;
    padding-top: 15px;
} */

/* 下線 */
.underLine {
    border-bottom: solid 1px #463D3B;
}

/*** コラム共通部分 ここまで ***/

/*** ここから コラム部分 ***/

/* コラム エリア */
.column_area {
    width: 100%;
}

/* カードエリアの囲い */
.inner_column-area {
    width: 90%;
    margin: 0 auto;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start; */
}

/* カードの囲い */
.wrap_column,
.wrap_related {
    width: 100%;
    background-color: transparent;
    margin: 15px auto;
}

/* カード幅 */
/* .inner_column-card {
    width: 350px;
    height: auto;
} */

/* 編集日エリア */
.wrap_edit-date {
    display: flex;
    align-items: center;
}

/* 編集日アイコン */
.edit-icon img {
    width: 30px;
    height: 30px;
}

/* 編集日 */
.edit_date {
    font-size: 1.7rem;
    line-height: 24.6px;
    text-align: left;
}

/* コラムタイトル */
.column_title h2,
.card_title>h2 {
    width: 100%;
    text-align: center;
    font-size: 2.7rem;
    margin: 10px 0;
}

/*コラム見出し*/
.column_content h2 {
    width: 100%;
    font-size: 2.7rem;
    margin: 25px auto 30px;
    padding-left: 10px;
    border-left: solid #ED6D1F 8px;
}

/* コラムテキスト（太字） */
.column_content p strong {
    display: block;
    width: 100%;
    margin: 25px auto 30px;
    padding-left: 10px;
    border-left: solid #ED6D1F 8px;
}


/* コラム写真 */
.column_content figure {
    display: flex;
    /* justify-content: center;
    align-items: center; */
}

.column_content img {
    margin: 25px auto 20px;
    /* position: relative;  */
    /* お気に入りタグを配置するときに使う */
}

/* object-fit:cover */
.column_content img,
.related_img {
    /* width: 100%;
    height: 66%; */
    border-radius: 20px;
    object-fit: cover;
}

/* .column_content h3 {
    margin: 25px 0 0;
}

.column_contnet h3 {
    width: 100%;
    font-size: 2.0rem;
    line-height: 29px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
} */

/* 説明エリア */
.column_content p {
    /* padding: 0 0 20px; */
    /* text-align: center; */
    /* border-bottom: solid 1px #00B0AA; */
}

/* 説明文 */
.column_content p,
.card_note>p {
    height: auto;
    font-size: 1.7rem;
    /* line-height: 24.6px; */
    line-height: 2.0;
    text-align: left;
    /* overflow: hidden;
    text-overflow: ellipsis; */
}

/**pの下に来るh2にmargin-topを付ける**/
.column_content p+h2 {
    margin-top: 60px;
}

/**pの下に来るfigureにmargin-topを付ける**/
.column_content p+figure {
    margin-top: 60px;
}

/**関連施設リンク**/
.wrap__link {
    width: 90%;
    margin: 50px auto;
}

.link__title {
    font-size: 2.7rem;
    text-align: center;
    margin-bottom: 30px;
}

.link__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.link__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: #ED6D1F;
    color: white;
    font-size: 1.7rem;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 25px;
    transition: 0.2s;
}

.link__button:hover {
    opacity: 0.7;
}

.link__button::before {
    content: "";
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    right: 2.2rem;
    transform: translate(50%);
}

.link__button::after {
    content: "";
    transform: rotate(45deg);
    border-top: 3px solid #ED6D1F;
    border-right: 3px solid #ED6D1F;
    width: 10px;
    height: 10px;
    margin-left: 20px;
}

/**前後ページリンク**/
.navi {
    font-size: 1.4rem;
    font-weight: 700;
    width: 90%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 50px auto 0;
    padding: 10px 5px 0;
    border-top: solid 1px #463d3b86;
}

.navi a {
    display: block;
    /* クリック可能範囲の調整 */
    padding: 5px;
}

/* ホバー時の下線 */
.navi a:hover {
    border-bottom: solid 1.5px #49464648;
}

/* 関連記事 */
/* 関連記事タイトル */
.container_related-title {
    width: 100%;
    height: 70px;
    margin: 0 auto;
    border: solid 2px #463D3B;
    text-align: center;
    line-height: 70px;
}

.container_related-title>h2 {
    font-size: 2.0rem;
}

.inner_related-area {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 42px;
}

.wrap_column-card {
    margin: auto;
}

/**ここから loop-column.phpにあてるcss 以西**/
/* カード部分 */
.wrap__card {
    background-color: transparent;
    width: 350px;
    height: 480px;
    margin: 30px auto;
}

.container__card {
    margin: 0 auto;
}

/* 施設写真 */
.img__card {
    width: 340px;
    height: 255px;
    margin: 10px 5px;
    border-radius: 20px;
    object-fit: cover;
}

/* 説明エリア */
.container__info {
    align-items: center;
}

/* カードタイトル */
.title__info>h2 {
    font-size: 2.2rem;
    text-align: left;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;

    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* 説明文 */
.note__column>p {
    height: 100px;
    font-size: 1.5rem;
    margin: 10px;
    line-height: 24.6px;
    text-align: left;

    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* 編集日エリア */
.container__date {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

/* 編集日アイコン */
.icon__edit>img {
    width: 30px;
    height: 30px;
}

/* 編集日 */
.date__edit {
    font-size: 1.7rem;
    line-height: 24.6px;
    text-align: left;
}

/**ここまで column_slider.css 以西**/



/*** 検索結果一覧部分 ここまで ***/

/*** メディアクエリここから ***/

@media screen and (min-width: 780px) {

    .inner_column-area {
        max-width: 1040px;
        width: 90%;
        margin-bottom: 50px;
    }

    .wrap_column {
        max-width: 700px;
        width: 100%;
    }

    .column_content img {
        width: 80%;
        /* height: 60%; */
    }

    .wrap_related {
        max-width: 1040px;
        width: 100%;
        margin-top: 100px;
    }

    .wrap_column-card {
        margin: 0 auto;
    }

    /* カード落ち 補完 */
    .inner_related-area::after {
        content: "";
        display: block;
        width: 50%;
    }
}

@media screen and (min-width: 1170px) {
    .wrap_related {
        max-width: 1200px;
        width: 100%;
    }

    /* カード落ち 補完 */
    .inner_related-area::after {
        content: "";
        display: block;
        width: 33.3%;
    }
}

/*** メディアクエリここまで ***/
