@charset "UTF-8";

/*** ここから共通部分 ***/
html {
    /* 全体の基本フォント */
    font-size: 62.5%;
    font-family: "Open Sans", "Zen Maru Gothic", serif;
    font-style: normal;
    color: #463D3B;
    font-weight: 500;

}
h1,h2,h3,h4,button{
    font-weight: 700;
}
body {
    /*** メッシュ背景 ***/
    background-image:
        /* グリッド線 */
        linear-gradient(90deg, rgba(0, 0, 0, 0.05) 1px, transparent 1px),
        /* 縦線 */
        linear-gradient(rgba(0, 0, 0, 0.05) 1px, transparent 1px);
    /* 横線 */
    background-size: 10px 10px;
    /* グリッドの大きさ□20px */
    background-position: 0 0;

    /* スクロールを滑らかに */
    scroll-behavior: smooth;
}

/**パンくずリスト**/
.breadCrumb__wrap {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
}

.breadCrumb {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 0;
}

a:hover {
    cursor: pointer;
}

main {
    padding-top: 60px;
}

@media screen and (min-width: 780px) {
    main {
        padding-top: 90px;
    }

}



/*** ここから カード部分 ***/

.results_card {
    /* width: 350px;
    padding: 7.5px 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start; */

    /* 上の記述は「.results_card」のカード整列に干渉してくるため不要としたい（堀） */
    margin: 50px auto;
    /* レイアウト調整用、pxはお好みで（堀） */
}

/* 無くてもよさそうです（堀） */
/* .results_card::after {
                content: "";
                display: block;
                width: 50%;
            } */

/* カード白背景部分 */
.wrap_card {
    /* width: 350px;
    height: 466px;
    padding: 20px 0 0 0;
    margin: 7.5px auto;
    background-color: #F5F5F5; */

    /* 横幅360pxサイズのスマホもある中、350pxでは余白が無さすぎるため修正（堀） */
    /* 阿波農ライフのカード幅と同じにしました（堀） */
    width: 300px;
    /* 350px から 300px に変更（堀） */
    height: 466px;
    padding: 20px 0 0 0;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    background-color: #F5F5F5;
    /* カード同士の間隔については「.results_card」にgapを当てています（堀） */
}

/* カード内側の枠 */
.inner_card {
    /* width: 300px; */
    width: 260px;
    /* 「.wrap_card」のwidth変更に伴い調整（堀） */
    height: auto;
    margin: 0 auto;
}

/* カード写真部分の容器 */
.container_cardImg {
    width: 100%;
    /* margin-bottom: 20px; */
    margin-bottom: 30px;
    /* お気に入りボタンに近かったため微調整、お好みで調整して下さい（堀） */
    position: relative;
}

/* 施設写真 */
.card_img {
    /* width: 100%;
    height: auto; */
    /*アスペクト比を維持*/
    margin: 0 auto;
    border-radius: 20px;
    display: block;
    /* 画像の下に余白ができるのを防ぐ */

    /* どんなサイズの画像でも統一されたサイズで表示させるために以下のように変更しています（堀） */
    /* width:100%では画像のサイズによって.card_imgのサイズがバラバラになってしまうため（堀） */
    width: 260px;
    /* 現在は「3：2」の比率にしています（堀） */
    height: 173px;
    /* 現在は「3：2」の比率にしています（堀） */
    object-fit: cover;
    /* 縦横比を維持し、.card_img内全体に表示させるように拡大縮小させる（堀） */
}

/* お気に入りリストに追加 タグ */
.tag__favorite {
    /* width: 160px;
    height: auto;
    position: absolute;
    right: -20px; */

    width: 130px;
    /* .card_imgのwidth:260pxの半分のサイズにしてみました（堀） */
    position: absolute;
    /* .card_imgを基準に位置調整しています（堀） */
    left: calc(50% + 10px);
    /* +10pxはリボンが.card_imgからはみ出ている風にするための調整（堀） */
    bottom: calc(-35px / 2);
    /* リボンが半分だけ画像と重なっているようにするため（堀） */
    transition: .3s cubic-bezier(0.45, 0, 0.55, 1);
    /* ホバーアクション用（堀） */
}

/* 不要かもしれません（堀） */
/* お気に入りリストに追加 タグ 位置調整（カード）*/
/* .container_cardImg>.tag__favorite {
    bottom: -17px;
} */

/* お気に入りリストに追加 タグ 位置調整（結果詳細スライダ）*/
.slider_area>.tag__favorite {
    bottom: -15px;
}

/* 施設名 または タイトル */
.card_title {
    font-size: 2rem;
    margin-bottom: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* 折り返さないとはみ出ます（堀） */
    /* 折り返しは避けたく、はみ出さないようにしました（山本） */
}

/* 住所 */
.card_address {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 400;
}

/* Mapアイコンの右側にスペース */
.card__address img,
.details__map img {
    height: 28px;
    margin-right: 10px;
}

/* keywordの容器 */
.container__keywords {
    display: flex;
    flex-wrap: wrap;
}

/* keyword */
.keyword {
    background-color: #fff;
    font-size: 1.4rem;
    border: solid 1px #463D3B;
    border-radius: 5px;
    margin: 15px 10px 0 0;
    padding: 1px 13px;
}

/*** お気に入りボタンここから（堀） ***/
/* プラグイン内で設定したテキスト用のclass */
.favo-text {
    font-size: 1.2rem;
    position: absolute;
    left: 10px;
    bottom: calc(35px / 2.8);
}

/* プラグインで用意された★アイコンの調整 */
.sf-icon-star-empty,
.sf-icon-star-full {
    margin-right: 3px;
}

/* ボタンサイズ（.tag_favoriteを基準にしている） */
.layer_2 {
    width: 100%;
}


/* お気に入りが非アクティブ状態のとき（お気に入り未追加） */
/* ボタンの塗り */
.simplefavorite-button .cls-1 {
    fill: #ffffff;
    transition: .3s ease-in-out;
}

/* ボタンの枠線 */
.simplefavorite-button .cls-2 {
    fill: #00b0aa;
}

/* ボタンの塗り（ホバー時） */
.simplefavorite-button:hover .cls-1 {
    fill: #e6f4f3;
}


/* お気に入りがアクティブ状態のとき（お気に入り追加済み） */
.simplefavorite-button.active {
    opacity: 1 !important;
    /* !important必要 */
}

/* ボタンの塗り */
.simplefavorite-button.active .cls-1 {
    fill: #00b0aa;
    transition: .3s ease-in-out;
}

/* ボタンの枠線 */
.simplefavorite-button.active .cls-2 {
    fill: #00b0aa;
    transition: .3s ease-in-out;
}

/* ボタンの塗り（ホバー時） */
.simplefavorite-button.active:hover .cls-1 {
    fill: #a3cccb;
}

/* ボタンの枠線（ホバー時） */
.simplefavorite-button.active:hover .cls-2 {
    fill: #a3cccb;
}

/* 少し浮く（ホバー時） */
.tag__favorite:hover {
    transform: translateY(-3px);
}

/*** お気に入りボタンここまで ***/


/* お気に入りが無いときの表示 */
.no-favorite {
    text-align: center;
    font-size: 1.6rem;
}



/* 以下、result.cssから関係してそうなものをコピペ（堀） */
/*** ここから 検索結果一覧部分 ***/

.card_details {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;

}

.card_detail {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.detail_label {
    color: #ffffff;
    padding: 3px 8px;
    background-color: #b7b0ac;
    border-radius: 8px;
    font-size: 1.2rem;
    margin-right: 10px;
    min-width: 65px;
    text-align: center;
}

.detail_value {
    font-size: 1.4rem;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 80px);
}


.card_title h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #333;
}

.container_cardinfo {
    padding: 30px 0;
    border-radius: 10px;
    position: relative;
}

.container_cardimg {
    position: relative;
}



.inner_card {
    border-radius: 8px;
}

.card_area {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    position: relative;
}

.design_area {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.genre_area {
    position: absolute;
    bottom: -35px;
    right: 20px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.genre_detail {
    display: flex;
    flex-direction: column;
}

.genre_label {
    color: #ffffff;
    padding: 3px 8px;
    background-color: #b7b0ac;
    border-radius: 8px;
    font-size: 1.2rem;
    margin-right: 10px;
    min-width: 60px;
    text-align: center;
    width: 80px;
    margin-bottom: 10px;
}

.genre_value {
    font-size: 2rem;
}

.icon_design {
    width: 50px;
}

.icon_category {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 30px;
    top: 28px;
}

.card_title {
    border-bottom: 6px dotted #a0d3b2;
}


/*** カード部分ここまで ***/


/*** ページネーションここから ***/

/* ページネーションのレイアウト */
.wp-pagenavi {
    margin: 40px auto;
    font-size: 1.4rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ページの数字（フォント）に関するデザイン */
.wp-pagenavi a {
    color: #918a86;
}

/* ボタンのデザイン */
.wp-pagenavi span.current,
.wp-pagenavi a.page,
.wp-pagenavi .first,
.wp-pagenavi .last {
    margin-left: 5px;
    margin-right: 5px;
    border: solid 1.2px #918a86;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    box-sizing: border-box;
    justify-content: center;
    display: flex;
    align-items: center;
    transition: .3s;
}

/* 現在滞在しているページボタンのデザイン */
.wp-pagenavi span.current {
    border: solid 1.2px #b7b0ac;
    background: #b7b0ac;
    color: #fff;
}

/* 滞在しているページ以外のボタンのデザイン */
.wp-pagenavi a.page {
    background: none;
}

/* ホバー時 */
.wp-pagenavi a.page:hover,
.wp-pagenavi .first:hover,
.wp-pagenavi .last:hover {
    background: #DDDAD8;
    color: #fff;
    border-color: #DDDAD8;
}

/* ...のデザイン */
.wp-pagenavi .extend {
    margin-left: 5px;
    margin-right: 5px;
    color: #918a86;
}


/*** ページネーションここまで ***/


/*** 共通部分ここまで ***/



/*** メディアクエリここから ***/

@media screen and (min-width: 780px) {
    .results_card {
        margin-top: 90px;
    }
}

/*** メディアクエリここまで ***/


/* fadeInふわっと表示 */

.fadeIn {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fadeIn.active {
    opacity: 1;
}
