@charset "UTF-8";

/*** ここから共通部分 ***/
html {
    /* 全体の基本フォント */
    font-size: 62.5%;
    font-family: "Open Sans", "Zen Maru Gothic", serif;
    font-style: normal;
    color: #463D3B;
    font-weight: 500;
    line-height: 1.4;
}

h1,h2,h3,h4,button{
    font-weight: 700;
}
body {
    /*** メッシュ背景 ***/
    background-image:
        /* グリッド線 */
        linear-gradient(90deg, rgba(0, 0, 0, 0.05) 1px, transparent 1px),
        /* 縦線 */
        linear-gradient(rgba(0, 0, 0, 0.05) 1px, transparent 1px);
    /* 横線 */
    background-size: 10px 10px;
    /* グリッドの大きさ□20px */
    background-position: 0 0;

    /* スクロールを滑らかに */
    scroll-behavior: smooth;
}

/**パンくずリスト**/
.breadCrumb__wrap {
    width: 85%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

.breadCrumb {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 0;
}

/* リンク先があるパンくずには、ホバー時に下線を表示する */
.breadcrumb_inner>span>a:hover {
    text-decoration: underline #49464648;
    text-underline-offset: 0.5rem; /* 文字と下線との距離 */
}

a:hover {
    cursor: pointer;
}

main {
    padding-top: 60px;
}

@media screen and (min-width: 780px) {
    main {
        padding-top: 90px;
    }

    .inner__main {
    padding: 0 10%;
    }

}

/** 投稿 **/
/* NEW（新着文字）の色 */
.new {
    color: #ED6D1F;
}

/*** ここから カード部分 ***/

.results_card {
    margin: 50px auto;
}

/* カード白背景部分 */
.wrap_card {
    width: 300px;
    height: 466px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    /* padding-top: 20px; */
    background-color: #F5F5F5;
    transition: 0.3s;
}

/* カードホバー時 */
.wrap_card:hover {
    box-shadow: 5px 5px rgba(145, 145, 145, 0.541);
}

/* カード内側の枠 */
.inner_card {
    width: 100%;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

/* カード写真部分の容器 */
.container_cardImg {
    width: 100%;
    margin-bottom: 30px;
    position: relative;
}

/* タイトルが2行になった場合のcontainer_cardImg */
.container_cardImg.long-title {
    margin-bottom: 23px; /* 間隔を詰める */
}

/* 施設写真 */
.card_img {
    margin: 0 auto;
    border-radius: 20px;
    display: block;
    /* 画像の下に余白ができるのを防ぐ */
    width: 260px;
    height: 195px;
    /* 「4：3」の比率にしています */
    object-fit: cover;
}

/* お気に入りリストに追加 タグ */
.tag__favorite {
    width: 130px;
    position: absolute;
    left: calc(50% + 10px);
    /* +10pxはリボンが.card_imgからはみ出ている風にするための調整 */
    bottom: calc(-35px / 2);
    /* リボンが半分だけ画像と重なっているようにするため */
    transition: .3s cubic-bezier(0.45, 0, 0.55, 1);
}

/* お気に入りリストに追加 タグ 位置調整（結果詳細スライダ）*/
.slider_area>.tag__favorite {
    bottom: -15px;
}

/* 施設名 または タイトル */
.card_title {
    font-size: 2rem;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 2行までは表示させる */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all; /* 数字や長い単語を強制的に折り返す */
    overflow-wrap: break-word; /* 長い単語や数字を折り返し */
}

/* 住所 */
.card_address {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 400;
}

/* Mapアイコンの右側にスペース */
.card__address img,
.details__map img {
    height: 28px;
    margin-right: 10px;
}

/* keywordの容器 */
.container__keywords {
    display: flex;
    flex-wrap: wrap;
}

/* keyword */
.keyword {
    background-color: #fff;
    font-size: 1.4rem;
    border: solid 1px #463D3B;
    border-radius: 8px;
    margin: 10px 10px 0 0;
    padding: 4px 10px;
}

/*** お気に入りボタンここから ***/
/* プラグイン内で設定したテキスト用のclass */
.favo-text {
    font-size: 1.2rem;
    position: absolute;
    left: 10px;
    bottom: calc(35px / 3.5);
}

/* プラグインで用意された★アイコンの調整 */
.sf-icon-star-empty,
.sf-icon-star-full {
    margin-right: 3px;
}

/* ボタンサイズ（.tag_favoriteを基準にしている） */
.layer_2 {
    width: 100%;
}


/* お気に入りが非アクティブ状態のとき（お気に入り未追加） */
/* ボタンの塗り */
.simplefavorite-button .cls-1 {
    fill: #ffffff;
    transition: .3s ease-in-out;
}

/* ボタンの枠線 */
.simplefavorite-button .cls-2 {
    fill: #00b0aa;
}

/* ボタンの塗り（ホバー時） */
.simplefavorite-button:hover .cls-1 {
    fill: #e6f4f3;
}


/* お気に入りがアクティブ状態のとき（お気に入り追加済み） */
.simplefavorite-button.active {
    opacity: 1 !important;
    /* !important必要 */
}

/* ボタンの塗り */
.simplefavorite-button.active .cls-1 {
    fill: #00b0aa;
    transition: .3s ease-in-out;
}

/* ボタンの枠線 */
.simplefavorite-button.active .cls-2 {
    fill: #00b0aa;
    transition: .3s ease-in-out;
}

/* ボタンの塗り（ホバー時） */
.simplefavorite-button.active:hover .cls-1 {
    fill: #a3cccb;
}

/* ボタンの枠線（ホバー時） */
.simplefavorite-button.active:hover .cls-2 {
    fill: #a3cccb;
}

/* 少し浮く（ホバー時） */
.tag__favorite:hover {
    transform: translateY(-3px);
}

/*** お気に入りボタンここまで ***/


/* お気に入りが無いときの表示 */
.no-favorite {
    text-align: center;
    font-size: 1.6rem;
}



/*** ここから カードの中身（内容） ***/

/* 住所、対象年齢のまとまり */
.card_details {
    margin-top: 6px;
    border-top: 6px dotted #a0d3b2;
}

.card_detail {
    display: flex;
    align-items: center;
    margin-top: 13px;
}

/* タイトルが2行になった場合のcard_detail */
.card_detail.long-title {
    margin-top: 8px; /* 間隔を詰める */
}

.detail_label {
    color: #ffffff;
    padding: 3px 8px;
    background-color: #b7b0ac;
    border-radius: 8px;
    font-size: 1.2rem;
    margin-right: 10px;
    min-width: 65px;
    text-align: center;
}

.detail_value {
    font-size: 1.4rem;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 80px);
}

/* 教室名 */
.card_title h2 {
    font-size: 1.8rem;
    color: #333;
}

.inner_card {
    border-radius: 8px;
}

/* アイコンとジャンルのまとまり */
.card_area {
    width: 100%;
    height: 82px; /* 教室名が1行に収まる時はheight:82pxを用意する */
    display: flex;
    gap: 15px;
    margin-top: 13px;
}

/* タイトルが2行になった場合のcard_area */
.card_area.long-title {
    height: 75px; /* 教室名が2行になった時はheight:75pxを用意する */
    margin-top: 11px;
}

/* アイコンエリア（icon_designとicon_categoryの親） */
.design_area {
    width: 100px;
    height: 100%;
    position: relative;
}

/* 黄色い放射線イラスト */
.icon_design {
    width: 45px;
    position: absolute;
    top: 25%;
    left: 30%;
    transform: translate(-50%, -50%);
}

/* アイコンイラスト */
.icon_category {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 60%;
    left: 60%;
    transform: translate(-50%, -50%);
}

/* ジャンルエリア（genre_detailの親） */
.genre_area {
    height: 100%;
    position: relative;
}

/* ジャンル見出しとジャンル名のまとまり */
.genre_detail {
    width: 142px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}

/* ジャンル見出し */
.genre_label {
    color: #ffffff;
    padding: 3px 8px;
    background-color: #b7b0ac;
    border-radius: 8px;
    font-size: 1.2rem;
    min-width: 60px;
    text-align: center;
    width: 80px;
    margin-bottom: 8px;
}

/* タイトルが2行になった場合のgenre_label */
.genre_label.long-title {
    margin-bottom: 6px; /* 間隔を詰める */
}

/* ジャンル名 */
.genre_value {
    font-size: 1.75rem;
    padding-left: 3px;
}

/* タイトルが2行になった場合のgenre_value */
.genre_value.long-title {
    line-height: 1.2; /* 行高を少し詰める */
}


/*** カード部分ここまで ***/


/*** ページネーションここから ***/

/* ページネーションのレイアウト */
.wp-pagenavi {
    margin: 40px auto;
    font-size: 1.4rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ページの数字（フォント）に関するデザイン */
.wp-pagenavi a {
    color: #918a86;
}

/* ボタンのデザイン */
.wp-pagenavi span.current,
.wp-pagenavi a.page,
.wp-pagenavi .first,
.wp-pagenavi .last {
    margin-left: 5px;
    margin-right: 5px;
    border: solid 1.2px #918a86;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    box-sizing: border-box;
    justify-content: center;
    display: flex;
    align-items: center;
    transition: .3s;
}

/* 現在滞在しているページボタンのデザイン */
.wp-pagenavi span.current {
    border: solid 1.2px #b7b0ac;
    background: #b7b0ac;
    color: #fff;
}

/* 滞在しているページ以外のボタンのデザイン */
.wp-pagenavi a.page {
    background: none;
}

/* ホバー時 */
.wp-pagenavi a.page:hover,
.wp-pagenavi .first:hover,
.wp-pagenavi .last:hover {
    background: #DDDAD8;
    color: #fff;
    border-color: #DDDAD8;
}

/* ...のデザイン */
.wp-pagenavi .extend {
    margin-left: 5px;
    margin-right: 5px;
    color: #918a86;
}


/*** ページネーションここまで ***/


/*** 共通部分ここまで ***/



/*** メディアクエリここから ***/

@media screen and (min-width: 780px) {
    .results_card {
        margin-top: 90px;
    }
}

/*** メディアクエリここまで ***/


/* fadeInふわっと表示 */

.fadeIn {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fadeIn.active {
    opacity: 1;
}
