@charset "UTF-8";

/*** ここから共通部分 ***/
html {
    /* 全体の基本フォント */
    font-size: 62.5%;
    font-family: "Open Sans", "Zen Maru Gothic", serif;
    font-weight: 700;
    font-style: normal;
    color: #463D3B;
}

/*** メッシュ背景 ***/
body {
    background-image:
        /* グリッド線 */
        linear-gradient(90deg, rgba(0, 0, 0, 0.05) 1px, transparent 1px),
        /* 縦線 */
        linear-gradient(rgba(0, 0, 0, 0.05) 1px, transparent 1px);
    /* 横線 */
    background-size: 10px 10px;
    /* グリッドの大きさ□20px */
    background-position: 0 0;
}

/*** パンくずリスト ***/
.breadCrumb {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 15px;
}

a:hover {
    cursor: pointer;
}


/*** ここから カード部分 ***/

.results_card {
    width: 350px;
    padding: 7.5px 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

.results_card::after {
                content: "";
                display: block;
                width: 50%;
            }

/* カード白背景部分 */
.wrap_card {
    width: 350px;
    height: 466px;
    padding: 20px 0 0 0;
    margin: 7.5px auto;
    background-color: #F5F5F5;
}

/* カード内側の枠 */
.inner_card {
    width: 300px;
    height: auto;
    margin: 0 auto;
}

/* カード写真部分の容器 */
.container_cardImg {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}

/* 施設写真 */
.card_img {
    width: 100%;
    height: auto;
    /*アスペクト比を維持*/
    margin: 0 auto;
    border-radius: 20px;
    display: block;
    /* 画像の下に余白ができるのを防ぐ */
}

/* お気に入りリストに追加 タグ */
.tag_favorite {
    width: 160px;
    height: auto;
    position: absolute;
    right: -20px;
}

/* お気に入りリストに追加 タグ 位置調整（カード）*/
.container_cardImg>.tag_favorite {
    bottom: -17px;
}

/* お気に入りリストに追加 タグ 位置調整（結果詳細スライダ）*/
.slider_area>.tag_favorite {
    bottom: -15px;
}

/* 施設名 または タイトル */
.card_title {
    font-size: 2rem;
    margin-bottom: 10px;
    white-space: nowrap;
}

/* 住所 */
.card_address {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 400;
}

/* Mapアイコンの右側にスペース */
.card_address img,
.details_map img {
    height: 28px;
    margin-right: 10px;
}

/* keywordの容器 */
.container_keywords {
    display: flex;
    flex-wrap: wrap;
}

/* keyword */
.keyword {
    background-color: #fff;
    font-size: 1.4rem;
    border: solid 1px #463D3B;
    border-radius: 5px;
    margin: 15px 10px 0 0;
    padding: 1px 13px;
}

/*** カード部分ここまで ***/


/*** 共通部分ここまで ***/
