@charset "UTF-8";

/*** ここから 検索結果 共通部分 ***/
.inner__main {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

/* 結果一覧背景 */
.container__bread-crumb {
    width: 100%;
    padding-top: 15px;
    margin: 0 auto;
}

/* パンくずリスト */
.breadCrumb {
    font-size: 1.6rem;
    /* フォントサイズ大きく */
}

/* 下線 */
.under__Line {
    border-bottom: solid 1px #463D3B;
}

/*** 検索結果 共通部分 ここまで ***/
/*** ここから施設写真(スライダー) ****/
.outline__results {
    min-width: 350px;
    width: 100%;
    margin: 0 auto;
}

.details__slide {
    min-width: 350px;
    width: 66%;
    margin: 0 auto;
    background-color: transparent;
}

.container__slide {
    width: 350px;
    height: auto;
    margin: 0 auto;
}

/* スライダーエリア */
.slider__area {
    width: 100%;
    margin: 20px 0;
    position: relative;
}

.wrap__thumbnailImg {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    /* マウスカーソルを指にする */
}


/* 施設写真 */
.wrap__mainImg img {
    width: 100%;
    /* 横幅をコンテナに合わせる */
    aspect-ratio: 16 / 12;
    /* 横長の比率に合わせて高さを調整 */
    object-fit: cover;
    /* 画像がはみ出た場合にトリミングして調整 */
    border-radius: 20px;
}

/* サムネイルのtransform のリセット(最優先指定) */
.thumbnail .slick__track {
    transform: unset !important;
}

/* サムネイル容器 */
.thumbnail {
    width: 350px;
    height: auto;
    margin-top: 10px;
    white-space: nowrap;
}

/* サムネイル 左端寄せ */
.slick-track {
    margin: 0 0 !important;
}

/* サムネイル */
.wrap__thumbnailImg {
    width: 87.5px;

}

/* サムネイル写真 */
.thumbnail img {
    width: 100%;
    /* 横幅をコンテナに合わせる */
    aspect-ratio: 16 / 12;
    /* 横長の比率に合わせて高さを調整 */
    object-fit: cover;
    /* 画像がはみ出た場合にトリミングして調整 */
}

/*** 施設写真(スライダー)ここまで ***/
/*** 検索結果詳細部分 ここから ***/
.details__title {
    position: relative;
    background-color: #ED6D1F;
    font-size: 1.8rem;
    padding: 10px;
    margin-top: 20px;
    max-width: 360px;
    align-content: center;
}

.circle__green,
.circle__yellow {
    display: none;
}

.wrap__details-outline {
    width: 350px;
    margin: 0 auto;
}

.details__address {
    font-size: 1.6rem;
    margin: 10px 0;
    max-width: 360px;
}

.details__description {
    font-size: 1.4rem;
    line-height: 2.5rem;
    margin: 20px 5px;
}

.details__container {
    position: relative;
    background-color: #F5F5F5;
    font-size: 1.4rem;
    width: 350px;
    height: auto;
    border-radius: 20px;
    padding: 25px 24px 30px;
    margin: 35px auto 0;
}

.info__overlay h3 {
    position: absolute;
    width: 100px;
    top: -10px;
    left: 30px;
    font-size: 1.4rem;
    text-align: center;
    background-color: #00B0AA;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
}

.info__overlay p {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.4rem;
    color: #463D3B;
    z-index: 2;
    margin: 5px 0;
    text-align: center;
    width: 150px;
}

.circle__matcha {
    position: absolute;
    right: 30px;
    top: -20px;
    width: 100px;
    /* サイズ調整 */
}

.details__genre {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.5rem;
    padding: 15px 0;
    border-bottom: solid 1px #463D3B;
}

.class__tel {
    color: blue;
}

.pc_tel {
    display: none;
}

.details__remarks {
    border-bottom: none;
}

.details__genre>h4 {
    color: #ED6D1F;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2.3rem;
    margin-bottom: 8px;
}

.details__genre>p,
.details__genre>a {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.5rem;
}

.details__map {
    font-size: 2.0rem;
    display: flex;
    padding: 10px 20px;
    min-width: 350px;
    width: 60%;
    margin: 20px 0 10px;
    background-color: rgb(246, 239, 231);
}



.icon__sns {
    width: 40px;
    height: 40px;
    margin: 5px 10px 0 0;
    border-radius: 30%;
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation: pulse 1s infinite; /* パルスアニメーションの追加 */
}

.icon__sns:hover {
    transform: translateY(-5px);/* ホバー時に上に移動 */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);/* ホバー時に影を追加 */
}

/* @keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
} */


/* アコーディオンメニュー ここから */
/* アコーディオン囲い */
.wrap__accordion {
    width: 350px;
    /* margin: 0 auto; */
}

/* 通常は表示しない */
.accordion__content {
    display: none;
}

/* 閉じている時の表示 */
.accordion__header {
    width: 350px;
    transition: .3s ease;
    cursor: pointer;
    position: relative;
}

/* ＋の表示 */
.accordion__header::before,
.accordion__header::after {
    position: absolute;
    content: '';
    top: 1px;
    right: 20px;
    bottom: 0;
    width: 12px;
    height: 2px;
    margin: auto;
    background: #463D3B;
}

/* タップ時の変形 ＋ → ー */
.accordion__header::after {
    transform: rotate(-90deg);
    transition: transform 0.3s;
}

.accordion__header.active::after {
    transform: rotate(0deg);
}

.accordion__content iframe {
    width: 100%;
    border-radius: 10px;
}

/* アコーディオンメニュー ここまで */
/* レビューエリア ここから */
.details__review {
    width: 350px;
    margin: 0 auto;
}



.wrap__details-review {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    font-weight: 500;
}

.review__title {
    font-size: 2rem;
    max-width: 350px;
    margin: 20px 0 10px;
    padding: 10px 20px;
    background-color: rgb(246, 239, 231);
}


.review__item {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}


.review__name {
    font-size: 1.4rem;
    line-height: 2.03rem;
    margin: 2.5px 0;
}

.review__date {
    font-size: 1.2rem;
    line-height: 1.74rem;
    margin: 2.5px 0;
}

.review__Form {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.8rem;
    padding: 20px;
}

.review__Form p {
    margin: 6px 0 2px;
}


.review__Form input {
    margin-bottom: 5px 10px;
    font-size: 1.6rem;
}

.review__comment {
    font-size: 1.6rem;
    line-height: 2.3rem;
    margin: 2.5px 0;
}

.review__description {
    font-size: 1.2rem;
    padding: 5px 10px;
}

.reply__btn {
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
    background-color: #463D3B;
    width: 47px;
    height: 30px;
    text-align: center;
    margin-top: 0.5rem;
    /* 上に少し余白を追加 */
    align-self: flex-end;
    /* 右端に配置 */
}

.reviewForm {
    font-size: 1.4rem;
    line-height: 2.03rem;
}

#input__name {
    width: 100%;
    height: 30px;
    background-color: #fff;
    border: solid 1px #463D3B;
    border-radius: 5px;
}

#input__email {
    width: 100%;
    height: 30px;
    background-color: #fff;
    border: solid 1px #463D3B;
    border-radius: 5px;
}

#input__comment {
    width: 100%;
    height: 60px;
    background-color: #fff;
    border: solid 1px #463D3B;
    border-radius: 5px;
}

.btn__container {
    text-align: right;
}

.reviewSend__btn {
    font-size: 1.4rem;
    font-weight: 500;
    color: #fff;
    background-color: #463D3B;
    width: 130px;
    height: 35px;
    border-radius: 20px;
    text-align: center;
    margin: 17px 0;
}

.relatedReview__title {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 350px;

    height: 70px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: rgb(246, 239, 231);
}

.relatedReview__title>h2 {
    font-size: 2rem;
}

.relatedReview__title p {
    font-size: 2.0rem;
    font-weight: 700;
}

.relatedReview__title img {
    width: 60px;
    animation: fuwafuwa 3s ease-in-out infinite alternate;
    transition: 1.5s ease-in-out;
}

@keyframes fuwafuwa {
    0% {
        transform: translate(0, 0) rotate(-7deg);
    }

    50% {
        transform: translate(0, -7px) rotate(0deg);
    }

    100% {
        transform: translate(0, 0) rotate(7deg);
    }
}


/* レビューエリア ここまで */
/*** 検索結果詳細部分 ここまで ***/
/*** ここから カード部分 ***/
.results__card {
    padding: 7.5px 0 7.5px 0;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

/* カード白背景部分 */
.wrap__card {
    padding: 20px 0 0 0;
    margin: 7.5px auto;
    background-color: #F5F5F5;
    width: 360px;
}

/* カード内側の枠 */
.inner__card {
    height: auto;
    margin: 0 auto;
}

/* カード写真部分の容器 */
.container__cardImg {
    margin-bottom: 20px;
    position: relative;
}

/* 施設写真 */
.card__img {
    width: 100%;
    height: auto;
    /*アスペクト比を維持*/
    margin: 0 auto;
    border-radius: 20px;
    display: block;
    /* 画像の下に余白ができるのを防ぐ */
}

/* お気に入りリストに追加 タグ */
.tag__favorite1 {
    width: 200px;
    position: relative;
    position: absolute;
    left: calc(43% + 10px);
    bottom: calc(-10px / 2);
}

.tag__favorite1 .favo-text {
    position: absolute;
    font-size: 1rem;
    left: 103px;
    bottom: calc(26px / 2.8);
}

.tag__favorite1 .simplefavorite-button {
    text-align: right;
    position: relative;
}





/* プラグインで用意された★アイコンの調整 */
.sf-icon-star-empty,
.sf-icon-star-full {
    margin-right: 3px;
}




/* ボタンサイズ（.tag_favoriteを基準にしている） */
.tag__favorite1 .layer_2 {
    width: 55%;
}


/* お気に入りが非アクティブ状態のとき（お気に入り未追加） */
/* ボタンの塗り */
.simplefavorite-button .cls-1 {
    fill: #ffffff;
    transition: .3s ease-in-out;
}

/* ボタンの枠線 */
.simplefavorite-button .cls-2 {
    fill: #00b0aa;
}

/* ボタンの塗り（ホバー時） */
.simplefavorite-button:hover .cls-1 {
    fill: #e6f4f3;
}


/* お気に入りがアクティブ状態のとき（お気に入り追加済み） */
.simplefavorite-button.active {
    opacity: 1 !important;
    /* !important必要 */
}

/* ボタンの塗り */
.simplefavorite-button.active .cls-1 {
    fill: #00b0aa;
    transition: .3s ease-in-out;
}

/* ボタンの枠線 */
.simplefavorite-button.active .cls-2 {
    fill: #00b0aa;
    transition: .3s ease-in-out;
}

/* ボタンの塗り（ホバー時） */
.simplefavorite-button.active:hover .cls-1 {
    fill: #a3cccb;
}

/* ボタンの枠線（ホバー時） */
.simplefavorite-button.active:hover .cls-2 {
    fill: #a3cccb;
}

/* 少し浮く（ホバー時） */
.tag__favorite1:hover {
    transform: translateY(-3px);
}


/* お気に入りリストに追加 タグ 位置調整（カード）*/
.container__cardImg>.tag__favorite1 {
    bottom: -17px;
}

/* お気に入りリストに追加 タグ 位置調整（結果詳細スライダ）*/
.slider__area>.tag__favorite1 {
    bottom: -15px;
    margin-right: -50px;
}

/* 施設名 */
.card__title {
    font-size: 2rem;
    margin-bottom: 8px;
    white-space: nowrap;
    border-bottom: 1px solid #ddd;
}

.detail__label {
    color: #F39C1F;
    padding: 5px 2px;
    border-radius: 5px;
    font-size: 1.4rem;
    margin-right: 10px;
    min-width: 65px;
}

.detail__value {
    font-size: 1.6rem;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 100px);
    border-bottom: 1px solid #ddd;
}

.card__title h2 {
    font-size: 1.8rem;
    color: #463D3B;
    margin: 20px 0;
    overflow: hidden;
}

.container__cardinfo {
    padding: 10px;
}

.container__cardimg {
    position: relative;
}

.card__details {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card__detail {
    display: ;
    align-items: center;
}

.icon__category {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.card__area {
    display: flex;
    align-items: center;
    gap: 10px;
}

/*** カード部分ここまで ***/


/*** メディアクエリここから ***/
@media screen and (min-width: 768px) {
    .outline__results {
        min-width: 350px;
        width: 95%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    .details__slide {
        width: 100%;
        margin: 0 0;
    }

    .container__slide {
        width: 100%;
        margin: 0 0;
    }

    .thumbnail {
        width: 360px;
        height: auto;
        margin-top: 10px;
        white-space: nowrap;
    }

    .thumbnail img {
        max-width: 100%;
    }


    .details__info {
        min-width: 350px;
        width: 100%;
        margin: 0 auto 0 3vw;
    }

    .inner__details-info {
        width: 100%;
    }

    .wrap__details-outline {
        width: 100%;
        margin: 0 0;
    }

    .details__container {
        width: 95%;
        height: auto;
        display: flex;
        justify-content: center;
        gap: 30px;
    }

    .details__genre>h4 {
        font-size: 1.8rem;
    }

    .details__genre>p,
    .details__genre>a {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 3rem;
    }

    .details__containerL,
    .details__containerR {
        width: 47%;
    }

    .details__review {
        width: 70%;
    }

    .wrap__accordion {
        width: 100%;
    }

    .relatedReview__title {
        max-width: 1120px;
        width: 80%;
    }

    .relatedReview__title>h2 {
        font-size: 3.6rem;
    }

    .results__card {
        max-width: 1200px;
        width: 95%;
        margin-top: 32px;
    }

    .results__card::after {
        content: "";
        display: block;
        width: 25%;
    }

    .results__card::after {
        content: "";
        display: block;
        width: 50%;
    }

    .card__img {
        width: 85%;
    }

    .tag__favorite1 {
        width: 50%;
        bottom: -15px;
    }

    .review__item {
        width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    .tag__favorite1 {
        width: 200px;
        /* .card_imgのwidth:260pxの半分のサイズにしてみました（堀） */
        position: relative;
        position: absolute;
        /* .card_imgを基100位置調整しています（堀） */
        left: calc(50%);
        /* +10pxはリボンが.card_imgからはみ出ている風にするための調整（堀） */
        bottom: calc(-10px / 2);
        /* リボンが半分だけ画像と重なっているようにするため（堀） */
        transition: .3s cubic-bezier(0.45, 0, 0.55, 1);
        /* ホバーアクション用（堀） */
    }

    .tag__favorite1 .favo-text {
        position: absolute;
        font-size: 1.0rem;
        left: 103px;
        bottom: calc(24px / 2.8);
    }

    .class__tel {
        display: none;
    }

    .pc_tel {
        display: block;
    }

    .icon__sns {
        width: 50px;
        height: 50px;
    }
}

@media screen and (min-width: 883px) {
    .tag__favorite1 {
        width: 200px;
        /* .card_imgのwidth:260pxの半分のサイズにしてみました（堀） */
        position: relative;
        position: absolute;
        /* .card_imgを基100位置調整しています（堀） */
        left: calc(57%);
        /* +10pxはリボンが.card_imgからはみ出ている風にするための調整（堀） */
        bottom: calc(-10px / 2);
        /* リボンが半分だけ画像と重なっているようにするため（堀） */
        transition: .3s cubic-bezier(0.45, 0, 0.55, 1);
        /* ホバーアクション用（堀） */
    }

    .tag__favorite1 .favo-text {
        position: absolute;
        font-size: 1rem;
        left: 103px;
        bottom: calc(26px / 2.8);
    }
}

@media screen and (min-width: 1050px) {
    .inner__main {
        max-width: 1200px;
        width: 90%;
    }

    .outline__results {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        padding: 5%;
    }

    .details__slide {
        width: 540px;
    }

    .container__slide {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    .thumbnail {
        width: 460px;
        height: auto;
        margin-top: 10px;
        white-space: nowrap;
    }
    .thumbnail img {
        max-width: 100%;
    }

    .details__info {
        width: clamp(100px, 40vw, 590px);
        margin: 0 0 0 5vw;
    }

    .details__title {
        font-size: 2.4rem;
        line-height: 4rem;
        width: clamp(100px, 35vw, 590px);
        max-width: 500px;
    }

    .circle__green {
        position: absolute;
        right: -55px;
        bottom: -30px;
        width: 80px;
        display: block;
    }

    .circle__yellow {
        position: absolute;
        right: -10px;
        bottom: -40px;
        width: 50px;
        display: block;
    }

    .wrap__details-outline {
        max-width: 590px;
        width: 100%;
    }

    .details__description {
        font-size: 1.8rem;
        line-height: 3.5rem;
        margin-top: 26px;
    }

    .details__container {
        width: 90%;
        height: auto;
        display: flex;
        justify-content: center;
        gap: 30px;
    }

    .details__containerL,
    .details__containerR {
        width: 47%;
    }

    .details__containerL h3,
    .details__containerR h3 {
        font-size: 2rem;
        line-height: 3.5rem;
        width: 100%;
    }

    .details__containerL p,
    .details__containerR p {
        font-size: 1.8rem;
        line-height: 3.5rem;
        width: 100%;
    }

    .info__overlay h3 {
        position: absolute;
        width: 200px;
        top: -20px;
        left: 30px;
        font-size: 1.8rem;
        text-align: center;
        background-color: #00B0AA;
        color: #fff;
        border-radius: 5px;
        padding: 5px 10px;
    }

    .info__overlay p {
        position: absolute;
        top: 10px;
        right: 30px;
        font-size: 1.8rem;
        color: #463D3B;
        z-index: 2;
        text-align: center;
        width: 200px;
    }

    .circle__matcha {
        position: absolute;
        right: 50px;
        top: -30px;
        width: 150px;
        /* サイズ調整 */
    }

    .wrap__accordion {
        width: 100%;
        margin: 0 auto;
        border-radius: 10px;
    }

    .details__review {
        width: 750px;
        margin: 0, auto;
    }

    /* .wrap__details-review{
        width: 100%;
        display: flex;
        justify-content: space-between;
    } */
    .review__title {
        font-size: 3.0rem;
        line-height: 4.0rem;
        font-weight: 700;
        margin: 50px 0 0 0;
    }

    .review__item {
        width: 850px;
        margin-left: auto;
        margin-right: auto;
        /* アイテムを縦並び */
    }

    .results__card::after {
        content: "";
        display: block;
        width: 50%;
    }

    .details__map {
        font-size: 3.0rem;
        margin: 50px 0 10px;
    }

    .details__map p {
        display: flex;
        justify-content: center;
    }

    .card__img {
        width: 100%;
    }

    .wrap__details-review {
        width: 950px;
        margin-left: auto;
        margin-right: auto;
        /* width: 100%;
        border-bottom: solid 1px #463D3B;
        display: flex;
        flex-direction: column; */
        /* 縦並び */
        /* align-items: center; */
        /* 子要素を中央揃え */
        /* justify-content: center;
        padding: 1rem 0; */
        /* display: flex; */
        /* align-items: flex-end; */
        /* justify-content: space-between; */
        /* gap: 22px;
        padding-bottom: 9px;
        margin: 15px 0; */
    }

    .review__name {
        font-size: 1.8rem;
        line-height: 4.0rem;
    }

    .review__date {
        font-size: 1.7rem;
        line-height: 4.0rem;
    }

    .review__comment {
        font-size: 1.4rem;
        line-height: 2.5rem;
    }

    #input__name,
    #input__email,
    #input__comment {
        width: 100%;

    }

    #input__comment {
        height: 110px;
    }

    .reviewSend__btn {
        font-size: 1.4rem;
        width: 150px;
        height: 30px;
        border-radius: 20px;
        text-align: center;
        margin: 17px 0;
    }

    .relatedReview__title p {
        font-size: 3.0rem;
    }

    .relatedReview__title img {
        width: 70px;
    }

    .results__card::after {
        content: "";
        display: block;
        width: 33.33%;
    }

    .tag__favorite1 {
        width: 280px;
        /* .card_imgのwidth:260pxの半分のサイズにしてみました（堀） */
        position: relative;
        position: absolute;
        /* .card_imgを基準に位置調整しています（堀） */
        left: calc(48% + 10px);
        /* +10pxはリボンが.card_imgからはみ出ている風にするための調整（堀） */
        bottom: calc(-10px / 2);
        /* リボンが半分だけ画像と重なっているようにするため（堀） */
        transition: .3s cubic-bezier(0.45, 0, 0.55, 1);
        /* ホバーアクション用（堀） */
    }

    .tag__favorite1 .favo-text {
        position: absolute;
        font-size: 1.2rem;
        left: 155px;
        bottom: calc(35px / 2.8);
    }
}

@media screen and (min-width: 1184px) {
    .inner__main {
        max-width: 1200px;
        width: 90%;
    }

    .wrap__details-outline {
        /* width: 100%; */
        margin: 0 auto;
    }


    .tag__favorite1 {
        width: 280px;
        /* .card_imgのwidth:260pxの半分のサイズにしてみました（堀） */
        position: relative;
        position: absolute;
        /* .card_imgを基準に位置調整しています（堀） */
        left: calc(48% + 10px);
        /* +10pxはリボンが.card_imgからはみ出ている風にするための調整（堀） */
        bottom: calc(-10px / 2);
        /* リボンが半分だけ画像と重なっているようにするため（堀） */
        transition: .3s cubic-bezier(0.45, 0, 0.55, 1);
        /* ホバーアクション用（堀） */
    }

    .tag__favorite1 .favo-text {
        position: absolute;
        font-size: 1.2rem;
        left: 155px;
        bottom: calc(35px / 2.8);
    }
}

@media screen and (min-width: 768px) and (max-width: 1050px) {
    .results__card {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .wrap__card {
        width: calc(33.33% - 20px);
        /* 3つ並べるための幅調整 */
        margin: 10px;
        /* カード間のスペース */
    }
}

/*** メディアクエリここまで ***/
/* バックハンド班による修正ここから */
/* .details__description>.simplefavorite-button {
    display: none; */
/*プラグインによるお気に入りの配置を無効 */
/* } */

/* お気に入りリストのボタン配置の優先 */
.slick-slide {
    height: auto !important;
}

#reply-title {
    display: none;
}

/* キャンセルボタンのスタイル */
.cancel-reply-btn {
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
    background-color: #463D3B;
    width: 130px;
    height: 30px;
    border-radius: 20px;
    text-align: center;
    margin-right: 10px;
    cursor: pointer;
}

/* ボタンを非表示にするためのクラス */
.hidden {
    display: none;
}

.reply__container {
    text-align: right;
}

/* .review__item{
    width: 950px;
    margin-left: auto;
    margin-right: auto;
} */

.review__item p {
    max-width: 500px;
    font-size: 1.6rem;
    line-height: 2.3rem;
    /* margin: 2.5px 0; */
    word-wrap: break-word;
    /* または word-break: break-all; */
    white-space: normal;
    /* 折り返し設定 */
}

/* .wrap__reviewForm{
    width: 950px;
    margin-left: auto;
    margin-right: auto;
} */
