@charset "UTF-8";

/*** ここから 検索結果 共通部分 ***/
.inner__main{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

/* 結果一覧背景 */
.container__bread-crumb {
    width: 100%;
    padding-top: 15px;
    margin: 0 auto;
}

/* パンくずリスト */
.breadCrumb {
    font-size: 1.6rem; /* フォントサイズ大きく */
}

/* 下線 */
.under__Line {
    border-bottom: solid 1px #463D3B;
}

/*** 検索結果 共通部分 ここまで ***/

/*** ここから施設写真(スライダー) ****/
.outline__results {
    min-width: 350px;
    width: 100%;
    margin: 0 auto;
}

.details__slide {
    min-width: 350px;
    width: 66%;
    margin: 0 auto;
    background-color: transparent;
}

.container__slide {
    width: 350px;
    margin: 0 auto;
}

/* スライダーエリア */
.slider__area {
    width: 100%;
    margin: 20px 0;
    position: relative;

}

/* 施設写真 */
.wrap__mainImg img {
    width: 100%;
    border-radius: 20px;
}

/* サムネイルのtransform のリセット(最優先指定) */
.thumbnail .slick__track {
    transform: unset !important;
}

/* サムネイル容器 */
.thumbnail {
    width: 350px;
    height: auto;
    margin-top: 10px;
    white-space: nowrap;
}

/* サムネイル 左端寄せ */
.slick-track {
    margin: 0 0 !important;
}

/* サムネイル */
.wrap__thumbnailImg {
    width: 87.5px;
}

/* サムネイル写真 */
.thumbnail img {
    width: 100%;
}


/*** 施設写真(スライダー)ここまで ***/


/*** 検索結果詳細部分 ここから ***/

.details__title{
    width: 350px;
    height: 55px;
    background-color: #ED6D1F;
    font-size: 2rem;
    font-weight: 700;
    padding-left: 20px;
    align-content: center;
    margin: 18px auto 18px 0;
}

.wrap__details-outline {
    width: 350px;
    margin: 0 auto;
}

.details__address{
    font-size: 1.6rem;
    margin-bottom: 4px;
}

.details__description{
    font-size: 1.4rem;
    line-height: 2.5rem;
    margin-top: 14px;
}

.details__container{
    background-color: #F5F5F5;
    font-size: 1.4rem;
    width: 350px;
    height: auto;
    border-radius: 20px;
    padding: 25px 24px 30px;
    margin: 35px auto 0;
}

.details__genre{
    padding:15px 0;
    border-bottom: solid 1px #463D3B;
}

.details__remarks {
    border-bottom: none;
}

.details__genre>h3 {
    color: #ED6D1F;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2.3rem;
    margin-bottom: 8px;
}

.details__genre>p,
.details__genre>a {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.5rem;
}

.details__map{
    font-size: 2.0rem;
    display: flex;
    padding: 10px 20px;
    min-width: 350px;
    width: 60%;
    margin: 20px 0 10px;
    background-color: rgb(246, 239, 231);

}


/* アコーディオンメニュー ここから */

/* アコーディオン囲い */
.wrap__accordion {
    width: 350px;
    /* margin: 0 auto; */
}

/* 通常は表示しない */
.accordion__content {
    display: none;
}

/* 閉じている時の表示 */
.accordion__header {
    width: 350px;
    transition: .3s ease;
    cursor: pointer;
    position: relative;
}

/* ＋の表示 */
.accordion__header::before,
.accordion__header::after {
    position: absolute;
    content: '';
    top: 1px;
    right: 20px;
    bottom: 0;
    width: 12px;
    height: 2px;
    margin: auto;
    background: #463D3B;
}

/* タップ時の変形 ＋ → ー */
.accordion__header::after {
    transform: rotate(-90deg);
    transition: transform 0.3s;
}

.accordion__header.active::after {
    transform: rotate(0deg);
}

.accordion__content {
    width: 100%;
}

/* アコーディオンメニュー ここまで */


/* レビューエリア ここから */
.details__review{
    width: 350px;
    margin: 0 auto;
}

.wrap__details-review{
    width: 100%;
    border-bottom: solid 1px #463D3B;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 22px;
    padding-bottom: 9px;
    margin: 15px 0;
}

.review__title{
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: #463D3B;
    margin: 0 0 16px 0;
}

/* .review__item{
    font-size: 1.2rem;
    line-height: 1.74rem;
} */
.review__name {
    font-size: 1.4rem;
    line-height: 2.03rem;
    margin:2.5px 0;
}

.review__date {
    font-size: 1.2rem;
    line-height: 1.74rem;
    margin: 2.5px 0;
}

.review__comment {
    font-size: 1.6rem;
    line-height: 2.3rem;
    margin: 2.5px 0;
}

.reply__btn{
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
    background-color: #463D3B;
    width: 47px;
    height: 30px;
    text-align: center;
}

.reviewForm{
    font-size: 1.4rem;
    line-height: 2.03rem;
}


#input__name{
    width: 100%;
    height: 25px;
    background-color: #fff;
    border:solid 1px #463D3B;
    border-radius: 5px;
}

#input__email{
    width: 100%;
    height: 25px;
    background-color: #fff;
    border: solid 1px #463D3B;
    border-radius: 5px;
}

#input__comment {
    width: 100%;
    height: 60px;
    background-color: #fff;
    border: solid 1px #463D3B;
    border-radius: 5px;
}

.btn__container{
text-align: right;
}

.reviewSend__btn {
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
    background-color: #463D3B;
    width: 130px;
    height: 30px;
    border-radius: 20px;
    text-align: center;
    margin: 17px 0;
}

.relatedReview__title{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 350px;
    width:60%;
    height: 70px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: rgb(246, 239, 231);}

.relatedReview__title>h2 {
    font-size: 2rem;
}

.relatedReview__title p {
    font-size: 2.0rem;
    font-weight: 700;

}

.relatedReview__title img{
    width: 60px;

}

/* レビューエリア ここまで */


/*** 検索結果詳細部分 ここまで ***/


/*** ここから カード部分 ***/

.results__card{
    width: 390px;
    padding: 7.5px 0 7.5px 0;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}


/* カード白背景部分 */
.wrap__card{
    padding: 20px 0 0 0;
    margin: 7.5px auto;
    background-color: #F5F5F5;
    width: 360px;
}

/* カード内側の枠 */
.inner__card{

    height: auto;
    margin: 0 auto;
}

/* カード写真部分の容器 */
.container__cardImg{
    margin-bottom: 20px;
    position: relative;
}

/* 施設写真 */
.card__img {
    width: 100%;
    height: auto;   /*アスペクト比を維持*/
    margin: 0 auto;
    border-radius: 20px;
    display: block; /* 画像の下に余白ができるのを防ぐ */
}

/* お気に入りリストに追加 タグ */
.tag__favorite{
    width:170px;

}

/* お気に入りリストに追加 タグ 位置調整（カード）*/
.container__cardImg>.tag__favorite {
    bottom: -17px;
}
/* お気に入りリストに追加 タグ 位置調整（結果詳細スライダ）*/
.slider__area>.tag__favorite{
    bottom: -15px;
}

/* 施設名 */
.card__title {
    font-size: 2rem;
    margin-bottom: 8px;
    white-space: nowrap;
    border-bottom: 1px solid #ddd;
}




.detail__label {
    color: #f39c1f;
    padding: 5px 2px;
    border-radius: 5px;
    font-size: 1.4rem;
    margin-right: 10px;
    min-width: 65px;

}

.detail__value {
    font-size: 1.6rem;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 100px);
    border-bottom: 1px solid #ddd;
}



.card__title h2 {
    font-size: 1.8rem;
    color: #463d3b;
    margin: 20px 0;

    overflow: hidden;
}

.container__cardinfo {
    padding: 10px;
}

.container__cardimg {
    position: relative;
}



.card__details {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card__detail {
    display: ;
    align-items: center;
    }




.icon__category {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.card__area {
    display: flex;
    align-items: center;
    gap: 10px;
}



/*** カード部分ここまで ***/

/*** メディアクエリここから ***/

@media screen and (min-width: 768px) {

    .outline__results {
        min-width: 350px;
        width: 95%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    .details__slide {
        width: 100%;
        margin: 0 0;
    }

    .container__slide {
        width: 100%;
        margin: 0 0;
    }

    .details__info {
        min-width: 350px;
        width: 100%;
        margin: 0 auto 0 3vw;
    }

    .inner__details-info{
        width: 100%;
    }

    .wrap__details-outline {
        width: 100%;
        margin: 0 0;
}

    .details__container {
        width: 95%;
        height: auto;
        display: flex;
        justify-content: center;
        gap: 30px;
    }

    .details__containerL,
    .details__containerR {
        width: 47%;
    }

    .details__review {
        width: 80%;
    }

    .wrap__accordion {
        width: 100%;
    }

    .relatedReview__title {
        max-width: 1120px;
        width: 95%;

    }

    .relatedReview__title>h2 {
        font-size: 3.6rem;
    }

    .results__card {
    max-width: 1200px;
    width: 95%;
    }

    .results__card::after {
        content: "";
        display: block;
        width: 25%;
    }

    .results__card::after {
        content: "";
        display: block;
        width: 50%;
    }
    .card__img {
        width: 85%;
}

.tag__favorite {
    width: 50%;

    bottom: -15px;
}
}

@media screen and (min-width: 1050px) {
    .inner__main {
            max-width: 1200px;
            width: 90%;
    }

    .outline__results {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    .details__slide {
        width: 540px;
    }

    .container__slide {
        width: 100%;
        margin: 0 auto;
    }

    .thumbnail {
        width: 540px;
        height: auto;
        margin-top: 10px;
        white-space: nowrap;
    }

    .details__info {
        width: clamp(100px, 40vw, 590px);
        margin: 0 0 0 5vw;
    }

    .details__title {
        font-size: 3rem;
        line-height: 4.34rem;
        width: clamp(100px, 35vw, 590px);
        height: 80px;
    }

    .wrap__details-outline{
        max-width:590px;
        width: 100%;
    }

    .details__description{
        font-size: 1.8rem;
        line-height: 3.5rem;
        margin-top: 26px;
    }

    .details__container {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        gap: 30px;
    }

    .details__containerL,
    .details__containerR {
        width: 47%;
    }

    .details__containerL h3,
    .details__containerR h3 {
        font-size: 2rem;
        line-height: 3.5rem;
        width: 100%;
    }

    .details__containerL p,
    .details__containerR p{
        font-size: 1.8rem;
        line-height: 3.5rem;
        width: 100%;
    }

    .wrap__accordion {
        width: 100%;
        margin: 0 auto;
        border-radius: 10px;
    }

    .details__review {
        max-width: 950px;
        width: 85%;
        margin-top: 50px;

    }

    /* .wrap__details-review{
        width: 100%;
        display: flex;
        justify-content: space-between;
    } */


    .review__title {
        font-size: 3.0rem;
        line-height: 4.0rem;
        font-weight: 700;
        margin: 50px 0 0 0;
    }

    .results__card::after {
        content: "";
        display: block;
        width: 50%;
    }

    .details__map {
        font-size: 3.0rem;

    }
    .details__map p {
        display: flex;
        justify-content: center;
    }
    .card__img {
        width: 100%;
}



    .wrap__details-review {
        width: 100%;
    }


    .review__name {
        font-size: 1.8rem;
        line-height: 4.0rem;
    }

    .review__date {
        font-size: 1.7rem;
        line-height: 4.0rem;
    }

    .review__comment {
        font-size: 1.4rem;
        line-height: 2.5rem;
    }

    #input__name,
    #input__email,
    #input__comment {
        width: 100%;
    }

        #input__comment {
            height: 110px;
        }

    .reviewSend__btn {
        font-size: 1.4rem;
        width: 150px;
        height: 30px;
        border-radius: 20px;
        text-align: center;
        margin: 17px 0;
    }

    .relatedReview__title {
        height: 100px;
    }

    .relatedReview__title p {
        font-size: 3.0rem;
    }

    .relatedReview__title img {
        width: 70px;

    }

    .results__card::after {
        content: "";
        display: block;
        width: 33.33%;
    }
}

@media screen and (min-width: 1184px) {
    .inner__main {
            max-width: 1200px;
            width: 90%;
        }

    .wrap__details-outline {
        /* width: 100%; */
        margin: 0 auto;
}
}

@media screen and (min-width: 768px) and (max-width: 1050px) {
    .results__card {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .wrap__card {
        width: calc(33.33% - 20px);
        /* 3つ並べるための幅調整 */
        margin: 10px;
        /* カード間のスペース */
    }
}

/*** メディアクエリここまで ***/


/* バックハンド班による修正ここから */
.details__description > .simplefavorite-button{
    display: none;  /*プラグインによるお気に入りの配置を無効 */
}


/* お気に入りリストのボタン配置の優先 */
.slick-slide {
    height: auto !important;
}
