@charset "UTF-8";

main {
    background-color: #ffffff;
}

.inner_main {
    /* max-width: 600px; */
    max-width: 1200px;
    /* 阿波農ライフが1200pxにしていたので（堀） */
    padding-top: 85px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    align-items: center;
    margin: 0 auto;
}

.inner_main h1 {
    font-size: 2rem;
    color: #fff;
    background-color: #00B0AA;
    padding: 10px 20px;
    text-align: center;
}

/* 今のところpage-favor.phpには使用していません（堀） */
/* .favorite_card{
    padding: 200px;
} */

.favorite_info {
    padding: 40px;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.6;
}

.favorite_info h2 {
    font-size: 1.6rem;
    margin-bottom: 5px;

}

/* カードを並べる記述（堀） */
/* 阿波農ライフを参考にしています（堀） */
.results_card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 42px;
    /* カードにmargin付けるより、gapの方がいいかも？pxはお好みで（堀） */
}


/*** お気に入りボタンここから（堀） ***/
/* プラグイン内で設定したテキスト用のclass */
.favo-text {
    font-size: 1.2rem;
    position: absolute;
    left: 10px;
    bottom: calc(35px / 2.8);
}

/* プラグインで用意された★アイコンの調整 */
.sf-icon-star-empty,
.sf-icon-star-full {
    margin-right: 3px;
}

/* ボタンサイズ（.tag_favoriteを基準にしている） */
.layer_2 {
    width: 100%;
}


/* お気に入りが非アクティブ状態のとき（お気に入り未追加） */
/* ボタンの塗り */
.simplefavorite-button .cls-1 {
    fill: #ffffff;
    transition: .3s ease-in-out;
}

/* ボタンの枠線 */
.simplefavorite-button .cls-2 {
    fill: #00b0aa;
}

/* ボタンの塗り（ホバー時） */
.simplefavorite-button:hover .cls-1 {
    fill: #e6f4f3;
}


/* お気に入りがアクティブ状態のとき（お気に入り追加済み） */
.simplefavorite-button.active {
    opacity: 1 !important;
    /* !important必要 */
}

/* ボタンの塗り */
.simplefavorite-button.active .cls-1 {
    fill: #00b0aa;
    transition: .3s ease-in-out;
}

/* ボタンの枠線 */
.simplefavorite-button.active .cls-2 {
    fill: #00b0aa;
    transition: .3s ease-in-out;
}

/* ボタンの塗り（ホバー時） */
.simplefavorite-button.active:hover .cls-1 {
    fill: #a3cccb;
}

/* ボタンの枠線（ホバー時） */
.simplefavorite-button.active:hover .cls-2 {
    fill: #a3cccb;
}

/* 少し浮く（ホバー時） */
.tag_favorite:hover {
    transform: translateY(-3px);
}

/*** お気に入りボタンここまで ***/




/* 以下、result.cssから関係してそうなものをコピペ（堀） */
/*** ここから 検索結果一覧部分 ***/

.card_details {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;

}

.card_detail {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.detail_label {
    color: #ffffff;
    padding: 3px 8px;
    background-color: #b7b0ac;
    border-radius: 8px;
    font-size: 1.2rem;
    margin-right: 10px;
    min-width: 65px;
    text-align: center;
}

.detail_value {
    font-size: 1.4rem;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 80px);
}


.card_title h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #333;
}

.container_cardinfo {
    padding: 30px 0;
    border-radius: 10px;
    position: relative;
}

.container_cardimg {
    position: relative;
}

/* 変な表示になるのでいったんposition切ってます（堀） */
.icon_category {
    /* position: absolute;
    bottom: -35px;
    right: 10px; */
    width: 50px;
    height: auto;
}

.inner_card {
    border-radius: 8px;
}

.card_area {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    position: relative;
}

.design_area {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.genre_area {
    position: absolute;
    bottom: -35px;
    right: 20px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.genre_detail {
    display: flex;
    flex-direction: column;
}

.genre_label {
    color: #ffffff;
    padding: 3px 8px;
    background-color: #b7b0ac;
    border-radius: 8px;
    font-size: 1.2rem;
    margin-right: 10px;
    min-width: 60px;
    text-align: center;
    width: 80px;
    margin-bottom: 10px;
}

.genre_value {
    font-size: 2rem;
}

.icon_design {
    width: 50px;
}

.icon_category {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 30px;
    top: 28px;
}

.card_title {
    border-bottom: 6px dotted #a0d3b2;
}


/*** メディアクエリここから ***/

@media screen and (min-width: 780px) {
    .inner_main {
        padding-top: 130px;
        padding-right: 40px;
        padding-left: 40px;
    }
}

/*** メディアクエリここまで ***/
