@charset "UTF-8";

/* Topへ戻るボタン */
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 1.5rem;
    line-height: 1;
    z-index: 50;
}

.back-to-top a {
    background: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    color: #000;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    opacity: 0.9;
    transition: all 1.5s ease;
}

.back-to-top span {
    position: absolute;
    display: inline-block;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    line-height: 1;
}

.back-to-top a:hover {
    text-decoration: none;
    opacity: 0.5;
}


/* フッター */
.inner__footer {
    background-color: #ED6D1F;
    max-width: 1440px;
    margin: 0 auto;
}

.container__sitemap {
    color: #FFF;
    font-size: 1.4rem;
    line-height: 20.3px;
}

.wrap__pages {
    text-align: left;
    padding: 180px 0 50px 30px;
}

.wrap__items {
    text-align: left;
    padding: 0 0 160px 30px;
}

.wrap__items>li,
.wrap__rules>li {
    text-align: left;
    margin: 20px 0;
}

.copy-rights {
    color: #FFF;
    font-size: 1.0rem;
    line-height: 14.5px;
    text-align: center;
}


@media screen and (min-width: 780px) {
    /* 寸法は x1.5 を基本に算出 */
    /* フッター */
    .container__sitemap {
        display: flex;
        justify-content: flex-end;
    }

    .wrap__pages {
        width: 30%;
        height: 500px;
        padding: 80px 0 0;
    }

    .wrap__rules {
        width: 30%;
        height: 500px;
        padding: 80px 0 0;
    }

    }
