@charset "UTF-8";

/* ヘッダー */
header {
    background-color: #FFF;
    max-width: 1440px;
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 10;
    /* position:fixedの要素を横センタリング */
    left: 50%;
    /*横センタリング-1 */
    transform: translateX(-50%);
    /*横センタリング-2 */
    /* 上記2つで横センタリングの効果 */
}

.inner__header {
    width: 100%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

/* ヘッダーロゴ */
.logo__header>a>img {
    height: 55px;
    margin: 2px 10px;
}


/*** ハンバーガーメニュー ここから***/

/*menu*/
.wrap__navi {
    width: 40px;
    height: auto;
    margin: 0 20px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 13;
}

.menu {
    width: 40px;
    height: 40px;
}

.btn__menu,
.btn__close {
    width: 40px;
    height: 40px;
    position: absolute;
}

.btn__menu.active,
.btn__close {
    display: none;
}

.btn__menu,
.btn__close.active {
    display: block;

    /* ゆっくり表示切り替え */
    animation-name: fadeIn;
    animation-fill-mode: forwards;
    animation-duration: 2s;
}

/*ゆっくり表示切り替え アニメ*/
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* フルスクリーンナビゲーション */
/*gnav*/
.gnav {
    background: rgba(0, 0, 0, 0.8);
    display: none;
    width: 100%;
    height: 105vh;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.gnav__wrap {
    background-color: #f8fbff;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    position: absolute;
}

.gnav__menu__item {
    padding: 15px 0;
    border-bottom: dotted 2px #ED6D1F;
}

.gnav__menu__item>a {
    text-align: left;
}

.gnav__menu__item a {
    color: #463D3B;
    font-size: 2em;
    font-weight: bold;
    padding: 15px 0;
    text-decoration: none;
    transition: .7s;
}

.gnav__menu__item a::before {
    color: #ED6D1F;
    font: var(--fa-font-solid);
    font-size: 2.6rem;
    content: "\f061";
}

.gnav__menu__item a:hover {
    color: #ED6D1F;
}

.fa-arrow-right {
    color: #ED6D1F;
}

.fa-instagram,
.fa-x-twitter {
    font-size: 3em;
    padding: 10px 10px 0 0;
    transition: color 0.3s ease, transform 0.3s ease;
    /* アニメーションの設定 */
}

.fa-instagram:hover,
.fa-x-twitter:hover {
    color: #ED6D1F;
    /* ホバー時の色 */
    transform: scale(1.1);
    /* ホバー時に少し拡大 */
}

.wrap__gnav-chara{
    text-align: right;
}


.wrap__gnav-chara img{
    width: 100px;
    height: auto;
    padding: 50vh 0 0;
    object-fit: cover;
}


/*** ハンバーガーメニュー ここまで ***/


@media screen and (min-width: 780px) {
    /* 寸法は x1.5 を基本に算出 */

    .inner__header {
        height: 90px;
    }

    /* ヘッダーロゴ */
    .logo__header>a>img {
        height: 80px;
        margin: 4px;
    }

    /* ハンバーガーメニュー */
    .container__hbg {
        width: 37.5px;
        height: 30px;
        margin: 0 37.5px 0 0;
    }

    .wrap__gnav-chara img {
        width: 150px;
    }

}
