@charset "UTF-8";

/* ヘッダー */
header {
    background-color: #FFF;
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 45;
}

.inner__header {
    max-width: 1440px;
    width: 100%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

/* ヘッダーロゴ */
.logo__header>a>img {
    width: 190px;
    height: 55px;
    margin: 0 0 0 10px;
}


/*** ハンバーガーメニュー ここから***/

/*menu*/
.menu {
    height: 20px;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    z-index: 50;
}

.menu__line {
    background: #463D3B;
    display: block;
    height: 2px;
    position: absolute;
    transition: transform .3s;
    width: 100%;
}

.menu__line.active {
    background: #463D3B;
}

.menu__line--center {
    top: 9px;
}

.menu__line--bottom {
    bottom: 0;
}

.menu__line--top.active {
    top: 8px;
    transform: rotate(45deg);
}

.menu__line--center.active {
    transform: scaleX(0);
}

.menu__line--bottom.active {
    bottom: 10px;
    transform: rotate(135deg);
}

/* フルスクリーンナビゲーション */
/*gnav*/
.gnav {
    background: rgba(0, 0, 0, 0.8);
    display: none;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 98;
}

.gnav__wrap {
    background-color: #f8fbff;
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    width: 100%;
}

.gnav__menu__item {
    padding: 15px 0;
    border-bottom: dotted 2px #ED6D1F;
}

.gnav__menu__item>a {
    text-align: left;
}

.gnav__menu__item a {
    color: #463D3B;
    font-size: 2em;
    font-weight: bold;
    padding: 15px 0;
    text-decoration: none;
    transition: .5s;
}

.gnav__menu__item a::before {
    color: #ED6D1F;
    font: var(--fa-font-solid);
    font-size: 2.6rem;
    content: "\f061";

}

.gnav__menu__item a:hover {
    color: #AD9792;
}

.fa-arrow-right {
    color: #ED6D1F;
}

.fa-instagram,
.fa-x-twitter {
    font-size: 3em;
    padding: 10px 10px 0 0;
}

/*** ハンバーガーメニュー ここまで ***/


@media screen and (min-width: 780px) {
    /* 寸法は x1.5 を基本に算出 */

    .inner__header {
        height: 90px;
    }

    /* ヘッダーロゴ */
    .logo__header>a>img {
        width: 290px;
        height: 82.5px;
        margin: 0 0 0 10px;
    }

    /* ハンバーガーメニュー */
    .container__hbg {
        width: 37.5px;
        height: 30px;
        margin: 0 37.5px 0 0;
    }
}
