@charset "UTF-8";

main {
    background-color: #F5F5F5;
    padding-top: 50px;
    padding-bottom: 50px;
}

.form {
    max-width: 550px;
    width: 100%;
    margin: 100px auto;
}

.contact_form {
    max-width: 600px;
    margin: 100px auto;
}

.contact_form h2 {
    font-size: 2rem;
    color: #fff;
    background-color: #ff6600;
    padding: 10px 20px;
    text-align: center;
}


.form_group {
    margin-bottom: 20px;
    font-size: 1.6rem;
}

.form_group label {
    display: block;
    margin-bottom: 5px;

}

.form_group input[type="text"],
.form_group input[type="tel"],
.form_group input[type="email"],
.form_group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1.6rem;
}

.form_group textarea {
    height: 150px;
}

.form_group input[type="checkbox"] {
    margin-right: 10px;
}

.entry_btn {
    background-color: #4a4a4a;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 1.6rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.entry_btn:hover {
    background-color: #333;
}

.entry_form {
    margin-top: 84px;
    text-align: center;
}

.entry_form p {

    font-size: 1.4rem;
}

.entry_form p:first-of-type {
    margin-top: 21px;

}

.entry_form h2 {
    margin-bottom: 10px;
    font-size: 2rem;

    font-weight: bold;
    position: relative;
    display: inline-block;
}

.entry_form h2::after {
    content: '';
    display: block;
    width: 140%;
    height: 1px;
    background-color: #ccc;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}


.entry_btn {
    display: inline-block;
    background-color: #463D3B;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
    font-size: 2rem;
    transition: background-color 0.3s;
    margin-top: 33px;
    margin-bottom: 45px;
}

.entry_btn:hover,
.confirm-button:hover {
    background-color: #ed6d1f;
}


/* チェックボックスのスタイルをリセット */
input[type="checkbox"] {
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    appearance: checkbox;
}

.styled-button,
.confirm-button {
    background-color: #ccc;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.6em;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: background-color 0.6s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.02);
}

.policy {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

/* ボタン */
.button {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.confirm-btn {
    width: 250px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 20px;
    position: relative;
}

/* .form_btn-back {
    margin: auto;
    max-width: 80%;
    padding-top: 30px
}

.form_btn-back input {
    color: #000;
    background-color: #fff;
    border-color: #ccc
} */


/* スピナーの絶対配置 */
.wpcf7-spinner {
    position: absolute;
    /* ボタン内に固定 */
    top: 50%;
    /* ボタン内の中央に配置 */
    left: calc(100% + 10px);
    /* ボタンの右隣に配置 */
    transform: translateY(-50%);
    /* 上下中央に揃える */
    width: 20px;
    /* スピナーの幅 */
    height: 20px;
    /* スピナーの高さ */
    background-color: transparent;
    border: 3px solid #ccc;
    border-top: 3px solid #ed6d1f;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

/* スピナーの回転アニメーション */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
