@charset "UTF-8";

.inner__main {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.news__area {
    /* background-color: #ffffff43; */
    /* 範囲確認用（通常はコメントアウトしておく） */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrap__news {
    width: 100%;
}

/* タイトル */
.title__news {
    color: #463D3B;
    text-align: center;
    width: 220px;
    margin: 0 auto;
    position: relative;
}

/* 「NEWS」 */
.title__news>h1 {
    font-size: 7.0rem;
    width: 100%;
    position: absolute;
    bottom: -100px;
    z-index: 1;
}

/* 「新着情報」 */
.title__news>p {
    font-size: 1.6rem;
    position: absolute;
    right: 13px;
    bottom: -115px;
}

/* 黄色い丸 */
.title__news>img {
    width: 110px;
    height: auto;
    position: absolute;
    bottom: -120px;
    left: -22px;
    z-index: 0;
}

/* カテゴリー選択メニュー */
.category__news {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 160px;
}

/* カテゴリー選択メニュー（ボタン） */
.category__news>li {
    font-size: 1.6rem;
    width: 47%;
    text-align: center;
    /* background-color: #e6eded36;
    border: 2px solid #e6eded7e; */
    background-color: #463D3B;
    border-radius: 5px;
    transition: 0.3s;
}

/* カテゴリー選択メニュー（文字） */
.category__news>li>a {
    /* color: #ffffffbe; */
    color: #fff;
    display: block;
    /* クリック可能範囲確保のため */
    padding-top: 10px;
    padding-bottom: 10px;
}

/* カテゴリー選択メニュー（アクティブになっているもの（文字）） */
li.active>a {
    /* background-color: #fff;
    color: #00B0AA; */
    background-color: #ED6D1F;
    color: #fff;
    border-radius: 5px;
}

/* カテゴリー選択メニュー（アクティブになっているもの（ボタン）） */
/* .category__news > li.active{
    border: 2px solid #fff;
} */

/* カテゴリー選択メニュー（ホバー時） */
.category__news>li:hover {
    /* background-color: #e6eded5c; */
    background-color: #ED6D1F;
}

/* ニュース全体の白枠 */
.container__news {
    background-color: #FFF;
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 25px;
    margin-bottom: 100px;
    border-radius: 20px;
}

/* 各ニュース */
.item__news {
    width: 100%;
    height: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: solid 1px #463d3b86;
    transition: 0.3s;
}

/* 各ニュース（ホバー時） */
.item__news:hover {
    background-color: #e6eded77;
}

/* 各ニュース（タイトル） */
.tag__news>h2 {
    font-size: 1.6rem;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-left: 0.5em;
    background-color: #e6eded;
    border-left: solid 10px #00B0AA;
    margin-bottom: 8px;
}

/* 各ニュース（カテゴリーと日付のセット） */
.subtag__news {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 11px;
}

/* 各ニュース（カテゴリー） */
.small__category {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* 各ニュース（カテゴリーの文字） */
.small__category>p {
    font-size: 1.4rem;
    font-weight: 500;
    color: #989898;
    background-color: #e8e5e3;
    border-radius: 20px;
    padding-top: 4px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
}

/* 各ニュース（日付の文字） */
.subtag__news>p {
    font-size: 1.6rem;
}

/* 各ニュース（本文） */
.note__news {
    text-align: justify;
    /* 両端揃えにする */
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 20.3px;
    padding-left: 10px;
    padding-right: 10px;
}

/* 投稿記事が0件だった場合 */
.no__news {
    height: 100px;
    display: grid;
    place-items: center;
    /* 水平・垂直方向の中央揃え */
    margin-bottom: 15px;
}

.no__news>p {
    font-size: 1.4rem;
}



/*** メディアクエリここから ***/

@media screen and (min-width: 768px) {

    .wrap__news {
        width: 80%;
    }

    /* ニュース全体の白枠 */
    .container__news {
        padding-left: 40px;
        padding-right: 40px;
    }

    /* 各ニュース */
    .item__news {
        padding-top: 30px;
        padding-bottom: 30px;
    }

}

@media screen and (min-width: 780px) {

    /* カテゴリー選択メニュー */
    .category__news {
        flex-wrap: nowrap;
        margin-top: 180px;
    }

}

@media screen and (min-width: 900px) {

    /* カテゴリー選択メニュー（ボタン） */
    .category__news>li {
        font-size: 1.7rem;
    }

    /* ニュース全体の白枠 */
    .container__news {
        padding-top: 40px;
        padding-left: 55px;
        padding-right: 55px;
    }

    /* 各ニュース */
    .item__news {
        padding-left: 7px;
        padding-right: 7px;
    }

    /* カテゴリー選択メニュー */
    .category__news {
        gap: 20px;
    }

    /* 各ニュース（タイトル） */
    .tag__news>h2 {
        font-size: 2rem;
        padding-top: 0.6em;
        padding-bottom: 0.6em;
        padding-left: 0.6em;
        border-left: solid 13px #00B0AA;
        margin-bottom: 10px;
    }

    /* 各ニュース（カテゴリーと日付のセット） */
    .subtag__news {
        margin-bottom: 20px;
    }

    /* 各ニュース（カテゴリーの文字） */
    .small__category>p {
        font-size: 1.6rem;
        padding-left: 12px;
        padding-right: 12px;
    }

    /* 各ニュース（本文） */
    .note__news {
        font-size: 1.6rem;
    }

    /* 投稿記事が0件だった場合 */
    .no__news {
        margin-bottom: 35px;
    }

    .no__news>p {
        font-size: 1.6rem;
    }

}

@media screen and (min-width: 1165px) {

    .wrap__news {
        max-width: 900px;
    }

    /* カテゴリー選択メニュー（ボタン） */
    .category__news>li {
        font-size: 1.8rem;

    }

    /* カテゴリー選択メニュー（文字） */
    .category__news>li>a {
        padding-top: 15px;
        padding-bottom: 15px;
    }

}

/*** メディアクエリここまで ***/
