@charset "UTF-8";

.news {
    background-color: #FFF;
    /* border-bottom: 50px solid #FFF; */
    /* footerとの間に白背景が必要であればここで調整する */
}

.inner__main {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

/* パンくず */
.breadCrumb {
    /* color: #FFF; */
    margin-bottom: 20px;
}

.wrap__news {
    width: 100%;
    /* background-color: #ffede2; */
    margin-left: auto;
    margin-right: auto;
}

/* ニュース全体の白枠 */
.container__news {
    /* background-color: #e5edff; */
    width: 100%;
    height: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 25px;
    /* margin-bottom: 25px; */
    border-radius: 20px;
}

/* タイトル、カテゴリー、日付のセット */
.tag__news {
    margin-bottom: 30px;
}

/* タイトル */
.tag__news>h1 {
    font-size: 2.7rem;
    padding-bottom: 0.3em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    border-bottom: solid 5px #00B0AA;
    margin-bottom: 10px;
}

/* カテゴリー、日付のセット */
.subtag__news {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* カテゴリー */
.small__category {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* カテゴリーの文字 */
.small__category>p {
    font-size: 1.35rem;
    font-weight: 500;
    color: #989898;
    background-color: #e8e5e3;
    border-radius: 20px;
    padding-top: 4px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
}

/* 日付の文字 */
.subtag__news>p {
    font-size: 1.6rem;
}

/* 記事本文 */
.note__news {
    text-align: justify;
    /* 両端揃えにする */
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 24.6px;
    /* padding-left: 10px;
    padding-right: 10px; */
}

/* 投稿記事内の文字（Wordpress依存） */
.note__news>p {
    padding-bottom: 20px;
}

/* 投稿記事内の見出し（Wordpress依存） */
.wp-block-heading {
    font-weight: bold;
    font-size: 2rem;
    padding-left: 0.3em;
    padding-right: 0.2em;
    border-left: solid 8px #00B0AA;
    margin-top: 8px;
    margin-bottom: 17px;
}

/* 投稿記事内の画像（Wordpress依存） */
.wp-block-image {
    margin-top: 17px;
    margin-bottom: 17px;
}

.wp-block-image img {
    border-radius: 15px;
}

/* リンクを使う場合の装飾 */
.note__news>p>a {
    color: #2556b8;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 5px;
}

/* 詳細ページ用のページネーション */
.navi {
    font-size: 1.4rem;
    font-weight: 700;
    width: 90%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border-top: solid 1px #463d3b86;
}

.navi>a {
    display: block;
    /* クリック可能範囲の調整 */
    padding: 5px;
}

/* ホバー時の下線 */
.navi>a:hover {
    border-bottom: solid 1.5px #49464648;
}


/*** メディアクエリここから ***/

@media screen and (min-width: 768px) {

    .wrap__news {
        width: 80%;
    }

    /* ニュース全体の白枠 */
    .container__news {
        padding-left: 40px;
        padding-right: 40px;
    }

}

@media screen and (min-width: 780px) {

    /* パンくず */
    .breadCrumb {
        margin-bottom: 40px;
    }

}

@media screen and (min-width: 900px) {

    /* パンくず */
    .breadCrumb {
        margin-bottom: 60px;
    }

    /* ニュース全体の白枠 */
    .container__news {
        padding-top: 40px;
        padding-left: 55px;
        padding-right: 55px;
    }

    /* 各ニュース（タイトル） */
    .tag__news>h2 {
        font-size: 2rem;
        padding-top: 0.6em;
        padding-bottom: 0.6em;
        padding-left: 0.6em;
        border-left: solid 13px #00B0AA;
        margin-bottom: 10px;
    }

    /* 各ニュース（カテゴリーと日付のセット） */
    .subtag__news {
        margin-bottom: 20px;
    }

    /* 各ニュース（カテゴリーの文字） */
    .small__category>p {
        font-size: 1.6rem;
        padding-left: 12px;
        padding-right: 12px;
    }

    /* 各ニュース（本文） */
    .note__news {
        font-size: 1.6rem;
    }

}

@media screen and (min-width: 1165px) {

    /* パンくず */
    .breadCrumb {
        margin-bottom: 80px;
    }

    .wrap__news {
        max-width: 900px;
    }

}

/*** メディアクエリここまで ***/
