@charset "UTF-8";

/* ページネーションのレイアウト */
.wp-pagenavi {
    margin: 40px auto;
    font-size: 1.4rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ページの数字（フォント）に関するデザイン */
.wp-pagenavi a {
    color: #918a86;
}

/* ボタンのデザイン */
.wp-pagenavi span.current,
.wp-pagenavi a.page,
.wp-pagenavi .first,
.wp-pagenavi .last {
    margin-left: 5px;
    margin-right: 5px;
    border: solid 1.2px #918a86;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    box-sizing: border-box;
    justify-content: center;
    display: flex;
    align-items: center;
    transition: .3s;
}

/* 現在滞在しているページボタンのデザイン */
.wp-pagenavi span.current {
    border: solid 1.2px #b7b0ac;
    background: #b7b0ac;
    color: #fff;
}

/* 滞在しているページ以外のボタンのデザイン */
.wp-pagenavi a.page {
    background: none;
}

/* ホバー時 */
.wp-pagenavi a.page:hover,
.wp-pagenavi .first:hover,
.wp-pagenavi .last:hover {
    background: #DDDAD8;
    color: #fff;
    border-color: #DDDAD8;
}

/* ...のデザイン */
.wp-pagenavi .extend {
    margin-left: 5px;
    margin-right: 5px;
    color: #918a86;
}
