@charset "UTF-8";

/*** ここから 習いごと事情 共通部分 ***/
.inner_main {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

/* 習いごと事情背景 */
.container_bread-crumb {
    width: 100%;
    padding-top: 15px;
    margin: 0 auto;
}

/* パンくずリスト */
.breadCrumb {
    font-size: 1.6rem;
    /* フォントサイズ大きく */
}

/* 下線 */
.under-Line {
    border-bottom: solid 1px #463D3B;
}

/*** 習いごと事情 共通部分 ここまで ***/


/* ランディング部 */

.inner__landing {
    background-color: #ED6D1F;
    max-width: 1440px;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.wrap__question_kv{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

/* question（とりあえず画像 あとで作り込み） */

.container__question_kv_mo {
    display: block;
}

.container__question_kv_p {
    display: none;
}

.container__question_kv_mo {
    max-width: 390px;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

/* モバイル用question */
.container__question_kv_mo>img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* とくしま習いごとナビ について */


/*** タイトル関連 ここから ***/
.title__question {
    color: #463D3B;
    text-align: center;
    width: 1000px;
    margin: 0 auto;
    position: relative;
}


/* メイン */

.question_text {
    width: 100%;
    background-color: #FFF;
    padding: 20px 0;
}


.title__question>p {
    font-size: 18px;
    line-height: 2.5rem;
    text-align: left;
    width: 100%;
    margin: 0 auto;
}

/*** タイトル関連 ここまで ***/

/* TOP10罫線2カラムエリア */
.inner__question{
    background-color: #fff;
    max-width: 1440px;
    width: 100%;
    height: auto;
    padding: 25px 30px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.order__question1,
.order__question2 {
    background-color: #FFF;
    width: 500px;
    height: auto;
    padding: 30px 0 0;
    margin: 0 auto;
    border-radius: 10px;
}

.order{
    font-size: 2.0rem;
    text-align: left;
    line-height: 60px;
    width: 300px;
    height: 60px;
    padding: 0 0 0 10px;
    margin: 0 auto;
    width: 100%;
    border-bottom: solid 1px #463D3B;
}

.order::before {
    content: '';
    display: inline-block;
    background-image: url(../images/crown.png);
    width: 50px;
    height: 30px;
    margin: 0 10px 0 0;
    background-size: contain;
    vertical-align: middle;
}

/* 円グラフエリア */

.chart {
    width: 100%;
    /* background-color: #fff; */
    padding: 20px 0;
}

.container__chart {
    width: 480px;
    margin: 0 auto;
}

.image__chart {
    width: 80%;
    height: auto;
    margin: 20px auto 0;
}

.image__chart>img {
    width: 480px;
    height: auto;
}

.chart p {
    font-size: 18px;
    color: #463D3B;
    margin: 40px 0;
    padding-bottom: 5px;
    line-height: 1.5;
}

.image__chart,
.order__question1,
.order__question2 {
    width: 490px;
    height: auto;
    margin: 0 auto;
    /* 中央揃え */
}


/* グラフエリアタイトル */
.title_decor {
    position: relative;
    padding: .5em .7em .4em;
    border-bottom: 3px solid #463D3B;
    color: #463D3B;
    width: 480px;
}

.title_decor::before,
.title_decor::after {
    position: absolute;
    left: 30px;
    bottom: -15px;
    width: 30px;
    height: 15px;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    content: '';
}

.title_decor::before {
    background-color: #463D3B;
}

.title_decor::after {
    bottom: -11px;
    background-color: #fff;
}

h4 {
    font-size: 24px;
    margin: 40px;
    /* border-bottom: 1px dashed #463D3B; */
    padding-bottom: 20px;
}


.clearance{
    background-color: #FFF;
    max-width: 1440px;
    width: 100%;
    height: 70px;
    margin: 0 auto;
}


@media screen and (min-width: 780px){

    .container__question_kv_mo {
        display: none;
    }

    /* PC用question容器 */
    .container__question_kv_p {
        display: block;
        max-width: 800px;
        width: 100%;
        margin: 0 auto;
    }

        /* PC用question */
    .container__question_kv_p>img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .note__chart{
        margin: 0 auto;
    }

    .note__chart>p {
        font-size: 1.8rem;
        line-height: 3.1rem;
        text-align: left;
    }

    .container__chart {
        max-width: 1440px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 20px;
    }

    .image__chart,
    .order__question1,
    .order__question2 {
        width: 100%; /* レスポンシブ時に幅を100%に */
        max-width: 490px; /* 最大幅を490pxに */
        margin: 0 auto; /* 中央に配置 */
    }



    /* タイトル */
    .title_question {
        color: #00B0AA;
        text-align: center;
        width: 370px;
        position: relative;
    }

    /* メイン */
    .title_question>h4 {
        font-size: 9.1rem;
        width: 100%;
    }


    .clearance {
        height: 70px;
    }

}
