@charset "UTF-8";

/*** ここから 習いごと事情 共通部分 ***/

main{
    background-color: #fff;
}


/* パンくずリスト */
.bread__crumb {
    font-size: 1.6rem;
    /* フォントサイズ大きく */
}

/* 下線 */
.under__line {
    border-bottom: solid 1px #463d3b;
}

/*** 習いごと事情 共通部分 ここまで ***/

/* kv部 */

.inner__kv {
    max-width: 1440px;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.wrap__question-kv {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.container__question-kv-mo {
    display: block;
}

.container__question-kv-p {
    display: none;
}

.container__question-kv-mo {
    max-width: 390px;
    width: 100%;
    margin: 0 auto;
}

/* モバイル用question */
.container__question-kv-mo > img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 30px 0;
}

/* とくしま習いごと事情 */

/*** タイトル関連 ここから ***/
.title__question {
    color: #463d3b;
    text-align: center;
    width: 1200px;
    position: relative;
}

.title__question > h1 {
    font-size: 1.8rem;
    padding-bottom: 30px;
}

.title__question > p {
    font-size: 18px;
    line-height: 2.5rem;
    text-align: left;
    width: 100%;
    margin: 0 auto;
}

.top__10 {
    position: relative;
    padding: 0.75em 0.75em;
    text-align: center;
    border-top: solid 3px #463d3b;
    border-bottom: solid 3px #463d3b;
    width: 100%;
    max-width: 600px;
    margin-top: 70px;
}
.top__10:before,
.top__10:after {
    content: "";
    position: absolute;
    top: -0.5em;
    width: 3px;
    height: calc(100% + 1em);
    background-color: #463d3b;
}
.top__10:before {
    left: 0.5em;
}
.top__10:after {
    right: 0.5em;
}

/*** タイトル関連 ここまで ***/

/* TOP10罫線2カラムエリア */
.inner__question {
    background-color: #fff;
    max-width: 1440px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.order__question-1,
.order__question-2 {
    background-color: #fff;
    width: 500px;
    height: auto;
    /* padding: 30px 0 0; */
    margin: 0 auto;
    border-radius: 10px;
}

.order {
    font-size: 2rem;
    text-align: left;
    line-height: 60px;
    width: 300px;
    height: 60px;
    padding: 0 0 0 10px;
    margin: 0 auto;
    width: 100%;
    border-bottom: dashed 2px #463d3b;
}

.order::before {
    content: attr(data-order); /* data-order属性から内容を取得 */
    display: inline-block;
    background-image: url(../images/top1.png);
    width: 50px;
    height: 60px;
    margin: 0 30px 0 0;
    background-size: contain; /* 画像のサイズをコンテナに合わせる */
    background-repeat: no-repeat; /* 画像のリピートを無効にする */
    vertical-align: middle; /* 画像の高さを枠の真ん中にする */
    color: transparent; /* 文字を透明にする */
}

/* 1～3番目のスタイル */
.order[data-order="1"]::before {
    background-image: url(../images/top1.png);
}
.order[data-order="2"]::before {
    background-image: url(../images/top2.png);
}
.order[data-order="3"]::before {
    background-image: url(../images/top3.png);
}

/* 1番目のスタイル */
.order[data-order="1"] {
    height: 90px;
    line-height: 90px;
    font-size: 25px;
    color: #ed6d1f;
    border-top: dashed 2px #463d3b;
}

/* 2番目と3番目のスタイル */
.order[data-order="2"],
.order[data-order="3"] {
    height: 70px;
    line-height: 70px;
    font-size: 25px;
    color: #ed6d1f;
}

.order[data-order="4"] {
    border-top: dashed 2px #463d3b; /* 4番目の要素にダッシュボーダーを追加 */
}

/* 4～10番目のスタイル */
.order[data-order="4"]::before {
    background-image: url(../images/top4.png);
}
.order[data-order="5"]::before {
    background-image: url(../images/top5.png);
}
.order[data-order="6"]::before {
    background-image: url(../images/top6.png);
}
.order[data-order="7"]::before {
    background-image: url(../images/top7.png);
}
.order[data-order="8"]::before {
    background-image: url(../images/top8.png);
}
.order[data-order="9"]::before {
    background-image: url(../images/top9.png);
}
.order[data-order="10"]::before {
    background-image: url(../images/top10.png);
}

/* TOP3の下部に画像を挿入 */
.order__question-1 {
    position: relative;
}

.order__image-1,
.order__image-2 {
    position: absolute;
    bottom: 10px;
    right: 10px;
    max-width: 200px;
    height: auto;
}

@media (max-width: 530px) {
    .order__image-1,
    .order__image-2 {
        display: none !important; /*
    }
}

/* 円・棒グラフエリア */

.title__decor {
    position: relative;
    padding: 0.5em 0.7em 0.4em;
    border-bottom: 3px solid #463d3b;
    color: #463d3b;
    width: 100%;
    max-width: 480px;
    text-align: center;
}

.title__decor::before,
.title__decor::after {
    position: absolute;
    left: 30px;
    /* transform: translateX(-50%); */
    bottom: -15px;
    width: 30px;
    height: 15px;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    content: "";
}

.title__decor::before {
    background-color: #463d3b;
}

.title__decor::after {
    bottom: -11px;
    background-color: #fff;
}

.chart {
    width: 100%;
    /* background-color: #fff; */
    padding: 20px 0;
    text-align: center;
}

.container__chart {
    width: 100%;
    max-width: 390px;
    margin: 0 auto;
    text-align: center;
}

.image__chart {
    width: 100%;
    max-width: 390px;
    height: auto;
    margin: 20px auto 0;
    text-align: center;
}

.image__chart > img {
    width: 100%;
    max-width: 390px;
    height: auto;
}

.image__chart,
.order__question-1,
.order__question-2 {
    width: 100%;
    max-width: 390px;
    height: auto;
    margin: 0 auto;
    /* 中央揃え */
}

h2 {
    font-size: 24px;
    margin: 40px auto;
}

.question__comment {
    width: 100%;
    max-width: 1200px;
    margin-bottom: 80px;
}

.comment__title {
    font-size: 27px;
    margin: 20px 0 40px;
    text-align: center;
    padding-top: 10px;
}

.question__comment p {
    font-size: 18px;
    color: #463d3b;

}

@media screen and (min-width: 780px) {
    .container__question-kv-mo {
        display: none;
    }

    /* PC用question容器 */
    .container__question-kv-p {
        display: block;
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
    }

    /* PC用question */
    .container__question-kv-p > img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .container__chart {
        max-width: 1440px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 20px;
    }

    .question__comment{
        padding: 20px 100px;
    }
    .question__comment p {
        font-size: 2rem;
    }

    .title__question > h1 {
        font-size: 2.8rem;
        padding: 40px;
    }
    .title__question > p {    font-size: 2rem;
    }

    .image__chart,
    .order__question-1,
    .order__question-2 {
        width: 100%;
        max-width: 480px;
        margin: 0 auto;
        text-align: center;
    }

    /* メイン */
    .title__question {
        color: #463d3b;
        text-align: center;
        width: 100%;
        position: relative;
        padding: 20px 100px;
    }

    .title__question > h2 {
        font-size: 3.1rem;
        width: 100%;
    }

    .h1 {
        font-size: 9.1rem;
        width: 100%;
    }
}
