@charset "UTF-8";

/*** ここから 習いごと事情 共通部分 ***/
.inner_main {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

/* 習いごと事情背景 */
.container_bread-crumb {
    width: 100%;
    padding-top: 15px;
    margin: 0 auto;
}

/* パンくずリスト */
.breadCrumb {
    font-size: 1.6rem;
    /* フォントサイズ大きく */
}

/* 下線 */
.under-Line {
    border-bottom: solid 1px #463d3b;
}

/*** 習いごと事情 共通部分 ここまで ***/

/* kv部 */

.inner__kv {
    background-color: #eadaa5;
    max-width: 1440px;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.wrap__question_kv {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.container__question_kv_mo {
    display: block;
}

.container__question_kv_p {
    display: none;
}

.container__question_kv_mo {
    max-width: 390px;
    width: 100%;
    height: 200px;
    margin: 0 auto;
}

/* モバイル用question */
.container__question_kv_mo > img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* とくしま習いごと事情 */

/*** タイトル関連 ここから ***/
.title__question {
    color: #463d3b;
    text-align: center;
    width: 1200px;
    margin: 40px auto;
    position: relative;
}

.title__question > h1 {
    font-size: 24px;
    margin: 40px;
    padding-bottom: 20px;
}

.title__question > p {
    font-size: 18px;
    line-height: 2.5rem;
    text-align: left;
    width: 100%;
    margin: 0 auto;
}

.top10 {
    position: relative;
    padding: 0.75em 0.75em;
    text-align: center;
    border-top: solid 3px #463d3b;
    border-bottom: solid 3px #463d3b;
    width: 100%;
    max-width: 600px;
    margin-top: 60px;
}
.top10:before,
.top10:after {
    content: "";
    position: absolute;
    top: -0.5em;
    width: 3px;
    height: calc(100% + 1em);
    background-color: #463d3b;
}
.top10:before {
    left: 0.5em;
}
.top10:after {
    right: 0.5em;
}

/*** タイトル関連 ここまで ***/

/* TOP10罫線2カラムエリア */
.inner__question {
    background-color: #fff;
    max-width: 1440px;
    width: 100%;
    height: auto;
    padding: 25px 30px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.order__question1,
.order__question2 {
    background-color: #fff;
    width: 500px;
    height: auto;
    /* padding: 30px 0 0; */
    margin: 0 auto;
    border-radius: 10px;
}

.order {
    font-size: 2rem;
    text-align: left;
    line-height: 60px;
    width: 300px;
    height: 60px;
    padding: 0 0 0 10px;
    margin: 0 auto;
    width: 100%;
    border-bottom: dashed 2px #463d3b;
}

.order::before {
    content: attr(data_order); /* data_order属性から内容を取得 */
    display: inline-block;
    background-image: url(../images/top1.png);
    width: 50px;
    height: 60px;
    margin: 0 30px 0 0;
    background-size: contain; /* 画像のサイズをコンテナに合わせる */
    background-repeat: no-repeat; /* 画像のリピートを無効にする */
    vertical-align: middle; /* 画像の高さを枠の真ん中にする */
    color: transparent; /* 文字を透明にする */
}

/* 1～3番目のスタイル */
.order[data_order="1"]::before {
    background-image: url(../images/top1.png);
}
.order[data_order="2"]::before {
    background-image: url(../images/top2.png);
}
.order[data_order="3"]::before {
    background-image: url(../images/top3.png);
}

/* 1番目のスタイル */
.order[data_order="1"] {
    height: 100px;
    line-height: 100px;
    font-size: 25px;
    color: #ed6d1f;
}

/* 2番目と3番目のスタイル */
.order[data_order="2"],
.order[data_order="3"] {
    height: 70px;
    line-height: 70px;
    font-size: 25px;
    color: #ed6d1f;
}

/* 4～10番目のスタイル */
.order[data_order="4"]::before {
    background-image: url(../images/top4.png);
}
.order[data_order="5"]::before {
    background-image: url(../images/top5.png);
}
.order[data_order="6"]::before {
    background-image: url(../images/top6.png);
}
.order[data_order="7"]::before {
    background-image: url(../images/top7.png);
}
.order[data_order="8"]::before {
    background-image: url(../images/top8.png);
}
.order[data_order="9"]::before {
    background-image: url(../images/top9.png);
}
.order[data_order="10"]::before {
    background-image: url(../images/top10.png);
}

/* TOP3の下部に画像を挿入 */
.order__question1 {
    position: relative;
}

.order_image1,
.order_image2 {
    position: absolute;
    bottom: 10px;
    right: 10px;
    max-width: 200px;
    height: auto;
}

@media (max-width: 390px) {
    .order_image1,
    .order_image2 {
        display: none; /* 390px以下の時に画像を非表示にする */
    }
}

/* 円・棒グラフエリア */

.title_decor {
    position: relative;
    padding: 0.5em 0.7em 0.4em;
    border-bottom: 3px solid #463d3b;
    color: #463d3b;
    width: 100%;
    max-width: 480px;
    text-align: center;
}

.title_decor::before,
.title_decor::after {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -15px;
    width: 30px;
    height: 15px;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    content: "";
}

.title_decor::before {
    background-color: #463d3b;
}

.title_decor::after {
    bottom: -11px;
    background-color: #fff;
}

.chart {
    width: 100%;
    /* background-color: #fff; */
    padding: 20px 0;
    text-align: center;
}

.container__chart {
    width: 100%;
    max-width: 390px;
    margin: 0 auto;
    text-align: center;
}

.image__chart {
    width: 100%;
    max-width: 390px;
    height: auto;
    margin: 20px auto 0;
    text-align: center;
}

.image__chart > img {
    width: 100%;
    max-width: 390px;
    height: auto;
}

/* .chart p {
    font-size: 18px;
    color: #463d3b;
    margin: 40px 0;
    padding-bottom: 5px;
    line-height: 1.5;
} */

.image__chart,
.order__question1,
.order__question2 {
    width: 100%;
    max-width: 390px;
    height: auto;
    margin: 0 auto;
    /* 中央揃え */
}

h2 {
    font-size: 24px;
    margin: 40px auto;
}

@media screen and (min-width: 780px) {
    .container__question_kv_mo {
        display: none;
    }

    /* PC用question容器 */
    .container__question_kv_p {
        display: block;
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
    }

    /* PC用question */
    .container__question_kv_p > img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .container__chart {
        max-width: 1440px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 20px;
    }

    .image__chart,
    .order__question1,
    .order__question2 {
        width: 100%;
        max-width: 480px;
        margin: 0 auto;
        text-align: center;
    }

    /* メイン */
    .title_question > h2 {
        font-size: 9.1rem;
        width: 100%;
    }
    .h1 {
        font-size: 9.1rem;
        width: 100%;
    }
}
